/* modules/variables
 =========================================================================== 
 =========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display+SC);
/* partials/reset
 =========================================================================== 
 =========================================================================== */
/* Universal
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* {
  position: relative;
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box; }

/**
 * 1. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 1 */ }

/* HTML5 display definitions
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/**
 * Correct `block` display not defined for-- 
 *  --any HTML5 element in IE 8/9
 *  --`details` or `summary` in IE 10/11 and Firefox.
 *  --`main` in IE 11.
 */
footer,
header,
main,
menu,
nav,
section {
  display: block; }

/* Links
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/**
 * 1. Remove the gray background color from active links in IE 10.
 * 2. Improve readability when focused and also mouse hovered in all browsers.
 */
a {
  background-color: transparent;
  /* 1 */ }
  a a:active,
  a a:hover {
    outline: 0;
    /* 2 */ }

/* Text-level semantics
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/* Embedded content
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/* Grouping content
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/* Forms
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited. 
 */
button,
input,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox. 
 */
button,
select {
  text-transform: none; }

/* partials/global
 =========================================================================== 
 =========================================================================== */
html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%; }

body {
  width: 100%;
  background: url(../media/reaper-of-souls-1.jpg) no-repeat center;
  background-size: cover; }

ul {
  list-style: none; }

a {
  color: black;
  text-decoration: none; }

button:hover {
  cursor: pointer; }

/* Clear-fix
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/* partials/header
 =========================================================================== 
 =========================================================================== */
header {
  z-index: 100;
  font-size: 2em;
  font-weight: 500; }

.link-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-border-radius: 0 0 1rem 1rem;
          border-radius: 0 0 1rem 1rem;
  margin: auto;
  width: 97%;
  text-align: center;
  background-color: #e4f1fe; }
  @media only screen and (max-width: 1200px) {
    .link-container {
      width: 92%; } }
  @media only screen and (max-width: 992px) {
    .link-container {
      width: 97%; } }
  @media only screen and (max-width: 768px) {
    .link-container {
      width: 95%; } }
  @media only screen and (max-width: 480px) {
    .link-container {
      width: 100%; } }
  .link-container > .link {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; }
    .link-container > .link > a {
      color: #2c3e50; }

.link {
  width: 14rem;
  line-height: 4rem;
  font-family: "Playfair Display SC", serif; }
  .link:hover {
    background-color: #6c7a89; }
    .link:hover > .drop {
      display: block; }
    .link:hover a {
      color: #f2f1ef; }
  .link a {
    display: block; }

.drop {
  display: none;
  position: absolute;
  background: #6c7a89; }

.drop--down {
  font-size: 0.85em; }

.drop--down > .drop__link:nth-child(1) {
  border-top: 0.1rem solid #5B6978; }

.drop__link {
  width: 14rem;
  border-bottom: 0.1rem solid #62707F;
  line-height: 3.4rem !important;
  font-weight: 400;
  font-family: "Roboto", sans-serif; }
  .drop__link:hover {
    background-color: #2c3e50; }

.drop--right {
  top: 0;
  left: 14rem;
  border-left: 0.1rem solid #eeeeee; }

/* partials/items
 =========================================================================== 
 =========================================================================== */
.leg-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 138rem;
  margin: 5rem auto 3rem auto;
  border: 1px solid #c8cdd2;
  -webkit-border-radius: 1rem;
          border-radius: 1rem;
  padding: 0.3rem 0;
  text-align: center;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  background-color: #e4f1fe; }
  @media only screen and (max-width: 1450px) {
    .leg-container {
      max-width: 103rem;
      padding: 0.7rem 0; } }
  @media only screen and (max-width: 1200px) {
    .leg-container {
      max-width: 95rem; } }
  @media only screen and (max-width: 992px) {
    .leg-container {
      max-width: 65rem; } }
  @media only screen and (max-width: 768px) {
    .leg-container {
      max-width: 58rem; } }
  @media only screen and (max-width: 480px) {
    .leg-container {
      border: none;
      -webkit-border-radius: 0.5rem;
              border-radius: 0.5rem; } }

.leg {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 32.6%;
  min-height: 25rem;
  margin: 0.5rem 0;
  border: 2px solid #afb4b9;
  background-color: #22313f; }
  @media only screen and (max-width: 1450px) {
    .leg {
      width: 48.8%; } }
  @media only screen and (max-width: 992px) {
    .leg {
      width: 96%;
      margin: 0.4rem 0; } }

.leg__name {
  display: block;
  width: 100%;
  margin: 1.2rem 0;
  text-align: center;
  text-decoration: underline;
  font-size: 1.4em;
  font-family: "Playfair Display SC", serif;
  color: #EC7211; }

.leg__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 86%;
  margin: auto;
  padding-bottom: 2.2rem; }
  @media only screen and (max-width: 480px) {
    .leg__info {
      width: 91%; } }

.leg__info__pic {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-top: 0.8rem;
  margin-right: 3.2rem;
  min-width: 70px;
  height: 132px;
  border: 2px solid #EC7211;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  background-color: #2c3e50; }

.pic-sm {
  display: inline-block;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center; }

.pic-lg {
  display: inline-block;
  width: 64px;
  height: 128px;
  text-align: center; }

.leg__info__affix-container {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-top: 0.8rem;
  text-align: left; }

.leg__info__affix {
  line-height: 2rem; }
  .leg__info__affix li {
    text-indent: -1em;
    color: #f5f5ff; }
    .leg__info__affix li p {
      color: #7D7DFF; }
    .leg__info__affix li span {
      display: inline-block;
      text-indent: 0;
      color: #C89DFF; }

.leg__info__affix--unique .unique {
  padding-bottom: 1.2rem;
  line-height: normal; }
  .leg__info__affix--unique .unique .silver {
    color: #dadfe1; }
  .leg__info__affix--unique .unique p {
    color: #D27500; }

.leg__info__affix--guarenteed {
  padding-bottom: 1.2rem; }

/* partials/lightbox
 =========================================================================== 
 =========================================================================== */
.lb {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.5em; }
  .lb:target {
    display: block; }
  .lb .lb__back {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: crosshair;
    background: rgba(44, 62, 80, 0.9); }
  .lb .lb__leg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    width: 46rem;
    top: 50%;
    left: 50%;
    border: 2px solid #F0F0F0;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #22313f; }
    @media only screen and (max-width: 768px) {
      .lb .lb__leg {
        width: 44rem; } }
    @media only screen and (max-width: 480px) {
      .lb .lb__leg {
        width: 33rem; } }
    .lb .lb__leg:nth-last-child(1) {
      padding-bottom: 1.8rem; }
  .lb .lb__leg__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0 2rem; }
    @media only screen and (max-width: 768px) {
      .lb .lb__leg__info {
        width: 75%; } }
    @media only screen and (max-width: 480px) {
      .lb .lb__leg__info {
        width: 80%; } }
  .lb .lb__leg__info__pic {
    display: block;
    margin-left: 1.8rem;
    min-width: 70px;
    height: 134px;
    border: 2px solid #EC7211;
    -webkit-border-radius: 9px;
            border-radius: 9px;
    background-color: #2c3e50; }
    @media only screen and (max-width: 768px) {
      .lb .lb__leg__info__pic {
        margin-left: 0.8rem; } }
    @media only screen and (max-width: 480px) {
      .lb .lb__leg__info__pic {
        margin-left: 0.2rem; } }
    .lb .lb__leg__info__pic .pic-sm {
      left: 1px; }
    .lb .lb__leg__info__pic .pic-lg {
      left: 1px; }
  .lb .lb__leg__info__details {
    position: relative;
    margin-left: 2.7rem;
    width: 80%;
    text-align: left;
    color: #F28700; }
  .lb .lb__leg__info__details__name {
    text-decoration: underline;
    font-size: 1.4em;
    font-family: "Playfair Display SC", serif; }
  .lb .lb__leg__info__details__type {
    margin: 1.5rem 0 0 0.7rem;
    font-size: 1.1em;
    font-style: italic;
    color: #D27500; }
    @media only screen and (max-width: 1200px) {
      .lb .lb__leg__info__details__type {
        font-size: 1em; } }
    @media only screen and (max-width: 768px) {
      .lb .lb__leg__info__details__type {
        margin: 2rem 0 0 0.3rem; } }
  .lb .lb__leg__affix {
    width: 63%;
    margin-left: 17%;
    padding-bottom: 1.2rem;
    text-align: left;
    line-height: 2rem; }
    @media only screen and (max-width: 480px) {
      .lb .lb__leg__affix {
        width: 69%;
        margin-left: 15%; } }
    .lb .lb__leg__affix > span {
      line-height: 2.5rem;
      color: #fafaff; }
    .lb .lb__leg__affix li {
      margin-left: 1.7rem;
      padding-top: 0.2rem;
      text-indent: -1em;
      color: #f5f5ff; }
    .lb .lb__leg__affix p {
      color: #7D7DFF; }
      .lb .lb__leg__affix p span {
        display: inline-block;
        text-indent: 0;
        color: #C89DFF; }
    .lb .lb__leg__affix .unique {
      line-height: normal; }
      .lb .lb__leg__affix .unique .silver {
        color: #dadfe1; }
      .lb .lb__leg__affix .unique p {
        color: #D27500; }
