{% extends "base.html" %}

{% block css %}
{% endblock css %}

{% block main %}
<main>
  <div class="legendary-container">

    <div class="legendary">
      <div class="legendary__pic">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/ancestors%27_grace.png);"></span>
      </div>
      <div class="legendary__details">
        <span class="legendary__details__name">Ancestors' Grace</span>
        <br><br>
        <span class="legendary__details__unique">A unique affix of the legendary amulet</span>
        <br><br>
        <span class="legendary__details__guarenteed">Does 30% of something to everything</span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <div class="legendary__pic">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/countess_julias_cameo.png)"></span>
      </div>
      <div class="legendary__details">
        <span class="legendary__details__name">Countess Julia's Cameo</span>
        <br><br>
        <span class="legendary__details__unique">A unique affix of the legendary amulet</span>
        <br><br>
        <span class="legendary__details__guarenteed">Does 30% of something to everything</span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <div class="legendary__pic">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/dovu_energy_trap.png"></span>
      </div>
      <div class="legendary__details">
        <span class="legendary__details__name">Dovu Energy Trap</span>
        <br><br>
        <span class="legendary__details__unique">A unique affix of the legendary amulet</span>
        <br><br>
        <span class="legendary__details__guarenteed">Does 30% of something to everything</span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <div class="legendary__pic">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/eye_of_elitch.png"></span>
      </div>
      <div class="legendary__details">
        <span class="legendary__details__name">Eye of Elitch</span>
        <br><br>
        <span class="legendary__details__unique">A unique affix of the legendary amulet</span>
        <br><br>
        <span class="legendary__details__guarenteed">Does 30% of something to everything</span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <div class="legendary__pic">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/golden_gorget_of_leoric.png"></span>
      </div>
      <div class="legendary__details">
        <span class="legendary__details__name">Golden Gorget of Leoric</span>
        <br><br>
        <span class="legendary__details__unique">A unique affix of the legendary amulet</span>
        <br><br>
        <span class="legendary__details__guarenteed">Does 30% of something to everything</span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <div class="legendary__pic">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/halcyons_ascent.png)"></span>
      </div>
      <div class="legendary__details">
        <span class="legendary__details__name">Halcyon's Ascent</span>
        <br><br>
        <span class="legendary__details__unique">A unique affix of the legendary amulet</span>
        <br><br>
        <span class="legendary__details__guarenteed">Does 30% of something to everything</span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <div class="legendary__pic">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/haunt_of_vaxo.png")></span>
      </div>
      <div class="legendary__details">
        <span class="legendary__details__name">Haunt of Vaxo</span>
        <br><br>
        <span class="legendary__details__unique">A unique affix of the legendary amulet</span>
        <br><br>
        <span class="legendary__details__guarenteed">Does 30% of something to everything</span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <div class="legendary__pic">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/hellfire_amulet.png")></span>
      </div>
      <div class="legendary__details">
        <span class="legendary__details__name">Hellfire Amulet</span>
        <br><br>
        <span class="legendary__details__unique">A unique affix of the legendary amulet</span>
        <br><br>
        <span class="legendary__details__guarenteed">Does 30% of something to everything</span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <div class="legendary__pic">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/holy_beacon.png")></span>
      </div>
      <div class="legendary__details">
        <span class="legendary__details__name">Holy Beacon</span>
        <br><br>
        <span class="legendary__details__unique">A unique affix of the legendary amulet</span>
        <br><br>
        <span class="legendary__details__guarenteed">Does 30% of something to everything</span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <div class="legendary__pic">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/kymbos_gold.png")></span>
      </div>
      <div class="legendary__details">
        <span class="legendary__details__name">Kymbo's Gold</span>
        <br><br>
        <span class="legendary__details__unique">A unique affix of the legendary amulet</span>
        <br><br>
        <span class="legendary__details__guarenteed">Does 30% of something to everything</span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <div class="legendary__pic">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/maras_kaleidoscope.png")></span>
      </div>
      <div class="legendary__details">
        <span class="legendary__details__name">Mara's Kaleidoscope</span>
        <br><br>
        <span class="legendary__details__unique">A unique affix of the legendary amulet</span>
        <br><br>
        <span class="legendary__details__guarenteed">Does 30% of something to everything</span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <div class="legendary__pic">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/moonlight_ward.png")></span>
      </div>
      <div class="legendary__details">
        <span class="legendary__details__name">Moonlight Ward</span>
        <br><br>
        <span class="legendary__details__unique">A unique affix of the legendary amulet</span>
        <br><br>
        <span class="legendary__details__guarenteed">Does 30% of something to everything</span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <div class="legendary__pic">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/ouroboros.png")></span>
      </div>
      <div class="legendary__details">
        <span class="legendary__details__name">Ouroboros</span>
        <br><br>
        <span class="legendary__details__unique">A unique affix of the legendary amulet</span>
        <br><br>
        <span class="legendary__details__guarenteed">Does 30% of something to everything</span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <div class="legendary__pic">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/overwhelming_desire.png")></span>
      </div>
      <div class="legendary__details">
        <span class="legendary__details__name">Overwhelming Desire</span>
        <br><br>
        <span class="legendary__details__unique">A unique affix of the legendary amulet</span>
        <br><br>
        <span class="legendary__details__guarenteed">Does 30% of something to everything</span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <div class="legendary__pic">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/rakoffs_glass_of_life.png")></span>
      </div>
      <div class="legendary__details">
        <span class="legendary__details__name">Rakoff's Glass of Life</span>
        <br><br>
        <span class="legendary__details__unique">A unique affix of the legendary amulet</span>
        <br><br>
        <span class="legendary__details__guarenteed">Does 30% of something to everything</span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <div class="legendary__pic">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/rondals_locket.png")></span>
      </div>
      <div class="legendary__details">
        <span class="legendary__details__name">Rondal's Locket</span>
        <br><br>
        <span class="legendary__details__unique">A unique affix of the legendary amulet</span>
        <br><br>
        <span class="legendary__details__guarenteed">Does 30% of something to everything</span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <div class="legendary__pic">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/squirts_necklace.png")></span>
      </div>
      <div class="legendary__details">
        <span class="legendary__details__name">Squirt's Necklace</span>
        <br><br>
        <span class="legendary__details__unique">A unique affix of the legendary amulet</span>
        <br><br>
        <span class="legendary__details__guarenteed">Does 30% of something to everything</span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <div class="legendary__pic">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/talisman_of_aranoch.png")></span>
      </div>
      <div class="legendary__details">
        <span class="legendary__details__name">Talisman of Aranoch</span>
        <br><br>
        <span class="legendary__details__unique">A unique affix of the legendary amulet</span>
        <br><br>
        <span class="legendary__details__guarenteed">Does 30% of something to everything</span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <div class="legendary__pic">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/the_ess_of_johan.png")></span>
      </div>
      <div class="legendary__details">
        <span class="legendary__details__name">The Ess of Johan</span>
        <br><br>
        <span class="legendary__details__unique">A unique affix of the legendary amulet</span>
        <br><br>
        <span class="legendary__details__guarenteed">Does 30% of something to everything</span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <div class="legendary__pic">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/the_flavor_of_time.png")></span>
      </div>
      <div class="legendary__details">
        <span class="legendary__details__name">The Flavor of Time</span>
        <br><br>
        <span class="legendary__details__unique">A unique affix of the legendary amulet</span>
        <br><br>
        <span class="legendary__details__guarenteed">Does 30% of something to everything</span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->
        
    <div class="legendary">
      <div class="legendary__pic">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/the_star_of_azkaranth.png")></span>
      </div>
      <div class="legendary__details">
        <span class="legendary__details__name">The Star of Azkaranth</span>
        <br><br>
        <span class="legendary__details__unique">A unique affix of the legendary amulet</span>
        <br><br>
        <span class="legendary__details__guarenteed">Does 30% of something to everything</span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <div class="legendary__pic">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/xephirian_amulet.png")></span>
      </div>
      <div class="legendary__details">
        <span class="legendary__details__name">Xephirian Amulet</span>
        <br><br>
        <span class="legendary__details__unique">A unique affix of the legendary amulet</span>
        <br><br>
        <span class="legendary__details__guarenteed">Does 30% of something to everything</span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

  </div> <!-- .legendary-container -->

</main>
{% endblock main %}





<!--         <div class="legendary__details__name">
          <span>AMULET NAME</span>
        </div>
        <div class="legendary__details__unique">
          <span>A unique affix of the legendary item</span>
        </div>
        <div class="legendary__details__guarenteed">
          <span>Does an extra 30% damage to everything</span>
        </div>-->