{% extends "base.html" %}

{% block css %}
{% endblock css %}

{% block main %}
<main>
  <div class="leg-container">

    <div class="leg">
      <a class="leg__name" href="#">Ancestors' Grace</a>
      <div class="leg__info">
        <a class="leg__info__pic" href="#ancestors-grace">
          <span class="pic-sm" style="background: url(../assets/media/items/legendaries/accessories/amulets/ancestors_grace.png);"></span>
        </a> <!-- .leg__info__pic -->
        <div class="leg__info__affix leg__affix-container">
          <div class="leg__affix leg__affix--unique">
            <li class="unique"><p>When receiving fatal damage, you are instead restored to <span>100%</span> of maximum life and resources. This item is destroyed in the process.</p></li>
          </div> <!-- .leg__affix-unique -->
          <div class="leg__affix leg__affix--guarenteed">
            <li><p><span>+626 - 750</span> Vitality</p></li>
          </div> <!-- .leg__affix-guarenteed -->
        </div> <!-- .leg__info__affix.leg__affix-container -->
      </div> <!-- .leg__info -->
    </div> <!-- .leg -->

    <div class="leg">
      <a class="leg__name" href="#countess-julias-cameo">Countess Julia's Cameo</a>
      <div class="leg__info">
        <a class="leg__info__pic" href="#countess-julias-cameo">
          <span class="pic-sm" style="background: url(../assets/media/items/legendaries/accessories/amulets/countess_julias_cameo.png)"></span>
        </a> <!-- .leg__info__pic -->
        <div class="leg__info__affix leg__affix-container">
          <div class="leg__affix leg__affix--unique">
            <li class="unique"><p>Prevent all Arcane damage taken and heal yourself for <span>20 – 25%</span> of the amount prevented.</li
          ></div> <!-- .leg__affix-unique -->
          <div class="leg__affix leg__affix--guarenteed">
            <li><p><span>+626 - 750</span> Main Stat</p></li>
            <li><p><span>+5.0 - 7.0%</span> Attack Speed</p></li>
          </div> <!-- .leg__affix-guarenteed -->
        </div> <!-- .leg__info__affix.leg__affix-container -->
      </div> <!-- .leg__info -->
    </div> <!-- .leg -->

    <div class="leg">
      <a class="leg__name" href="#">Dovu Energy Trap</a>
      <div class="leg__info">
        <a class="leg__info__pic" href="#_">
          <span class="pic-sm" style="background: url(../assets/media/items/legendaries/accessories/amulets/dovu_energy_trap.png)"></span>
        </a> <!-- .leg__info__pic -->
        <div class="leg__info__affix leg__affix-container">
          <div class="leg__affix leg__affix--unique">
            <li class="unique"><p>Increases duration of Stun effects by <span>20 – 25%</span>.</p></li>
          </div> <!-- .leg__affix-unique -->
          <div class="leg__affix leg__affix--guarenteed">
            <li><p><span>+626 - 750</span> Main Stat</p></li>
            <li><p><span>+5.0 - 8.0%</span> Cooldown Reduction</p></li>
          </div> <!-- .leg__affix-guarenteed -->
        </div> <!-- .leg__info__affix.leg__affix-container -->
      </div> <!-- .leg__info -->
    </div> <!-- .leg -->

    <div class="leg">
      <a class="leg__name" href="#">Eye of Elitch</a>
      <div class="leg__info">
        <a class="leg__info__pic" href="#_">
          <span class="pic-sm" style="background: url(../assets/media/items/legendaries/accessories/amulets/eye_of_elitch.png)"></span>
        </a> <!-- .leg__info__pic -->
        <div class="leg__info__affix leg__affix-container">
          <div class="leg__affix leg__affix--guarenteed">
            <li><p><span>+15 - 20%</span> Increased <span><em>Elemental</em></span> Damage</p></li>
            <li><p><span>+27.7 - 32.9%</span> Range Damage Reduction</p></li>
          </div> <!-- .leg__affix-guarenteed -->
        </div> <!-- .leg__info__affix.leg__affix-container -->
      </div> <!-- .leg__info -->
    </div> <!-- .leg -->

    <div class="leg">
      <a class="leg__name" href="#">Golden Gorget of Leoric</a>
      <div class="leg__info">
        <a class="leg__info__pic" href="#_">
          <span class="pic-sm" style="background: url(../assets/media/items/legendaries/accessories/amulets/golden_gorget_of_leoric.png)"></span>
        </a> <!-- .leg__info__pic -->
        <div class="leg__info__affix leg__affix-container">
          <div class="leg__affix leg__affix--unique">
            <li class="unique"><p>After earning a massacre bonus, <span>4–6</span> Skeletons are summoned to fight by your side for 10 seconds.</p></li>
          </div> <!-- .leg__affix-unique -->
          <div class="leg__affix leg__affix--guarenteed">
            <li><p><span>+626 - 750</span> Main Stat</p></li>
            <li><p><span>+91 - 100</span> All Resist</p></li>
            <li><p><span>+6.0 - 10.0%</span> Crit Chance</p></li>
          </div> <!-- .leg__affix-guarenteed -->
        </div> <!-- .leg__info__affix.leg__affix-container -->
      </div> <!-- .leg__info -->
    </div> <!-- .leg -->

    <div class="leg">
      <a class="leg__name" href="#">Halcyon's Ascent</a>
      <div class="leg__info">
        <a class="leg__info__pic" href="#_">
          <span class="pic-sm" style="background: url(../assets/media/items/legendaries/accessories/amulets/halcyons_ascent.png)"></span>
        </a> <!-- .leg__info__pic -->
        <div class="leg__info__affix leg__affix-container">
          <div class="leg__affix leg__affix--unique">
            <li class="unique"><p>When you use <span><em>Class Skill</em></span>, you mepic--smerize nearby enemies with your skill, causing them to jump uncontrollably for <span>6–8</span> seconds.</p></li>
          </div> <!-- .leg__affix-unique -->
          <div class="leg__affix leg__affix--guarenteed">
            <li><p><span>+626 - 750</span> Main Stat</p></li>
            <li><p><span>+5.0 - 8.0%</span> Cooldown Reduction</p></li>
          </div> <!-- .leg__affix-guarenteed -->
        </div> <!-- .leg__info__affix.leg__affix-container -->
      </div> <!-- .leg__info -->
    </div> <!-- .leg -->

    <div class="leg">
      <a class="leg__name" href="#">Haunt of Vaxo</a>
      <div class="leg__info">
        <a class="leg__info__pic" href="#_">
          <span class="pic-sm" style="background: url(../assets/media/items/legendaries/accessories/amulets/haunt_of_vaxo.png)"></span>
        </a> <!-- .leg__info__pic -->
        <div class="leg__info__affix leg__affix-container">
          <div class="leg__affix leg__affix--unique">
            <li class="unique"><p>Summons shadow clones to your aid when you Stun an enemy. This effect may occur once every 30 seconds.</p></li>
          </div> <!-- .leg__affix-unique -->
          <div class="leg__affix leg__affix--guarenteed">
            <li><p><span>+626 - 750</span> Main Stat</p></li>
            <li><p><span>+6.0 - 10.0%</span> Crit Chance</p></li>
          </div> <!-- .leg__affix-guarenteed -->
        </div> <!-- .leg__info__affix.leg__affix-container -->
      </div> <!-- .leg__info -->
    </div> <!-- .leg -->

    <div class="leg">
      <a class="leg__name" href="#">Hellfire Amulet</a>
      <div class="leg__info">
        <a class="leg__info__pic" href="#_">
          <span class="pic-sm" style="background: url(../assets/media/items/legendaries/accessories/amulets/hellfire_amulet.png)"></span>
        </a> <!-- .leg__info__pic -->
        <div class="leg__info__affix leg__affix-container">
          <div class="leg__affix leg__affix--unique">
            <li class="unique"><p>Gain a random <span><em>Class Specific</em></span> passive.</p></li>
          </div> <!-- .leg__affix-unique -->
          <div class="leg__affix leg__affix--guarenteed">
            <li><p><span>+626 - 750</span> Main Stat</p></li>
            <li><p>Sockets (1)</p></li>
          </div> <!-- .leg__affix-guarenteed -->
        </div> <!-- .leg__info__affix.leg__affix-container -->
      </div> <!-- .leg__info -->
    </div> <!-- .leg -->

    <div class="leg">
      <a class="leg__name" href="#">Holy Beacon</a>
      <div class="leg__info">
        <a class="leg__info__pic" href="#_">
          <span class="pic-sm" style="background: url(../assets/media/items/legendaries/accessories/amulets/holy_beacon.png)"></span>
        </a> <!-- .leg__info__pic -->
        <div class="leg__info__affix leg__affix-container">
          <div class="leg__affix leg__affix--guarenteed">
            <li><p><span>+15 - 20%</span> Increased Holy Damage</p></li>
            <li><p><span>+xx - yy</span> Spirit Regeneration per Second</p></li>
          </div> <!-- .leg__affix-guarenteed -->
        </div> <!-- .leg__info__affix.leg__affix-container -->
      </div> <!-- .leg__info -->
    </div> <!-- .leg -->

    <div class="leg">
      <a class="leg__name" href="#">Kymbo's Gold</a>
      <div class="leg__info">
        <a class="leg__info__pic" href="#_">
          <span class="pic-sm" style="background: url(../assets/media/items/legendaries/accessories/amulets/kymbos_gold.png)"></span>
        </a> <!-- .leg__info__pic -->
        <div class="leg__info__affix leg__affix-container">
          <div class="leg__affix leg__affix--unique">
            <li class="unique"><p>Picking up gold heals you for an amount equal to the gold that was picked up.</p></li>
          </div> <!-- .leg__affix-unique -->
          <div class="leg__affix leg__affix--guarenteed">
            <li><p><span>+75 – 100%</span> Extra Gold from Monsters</p></li>
          </div> <!-- .leg__affix-guarenteed -->
        </div> <!-- .leg__info__affix.leg__affix-container -->
      </div> <!-- .leg__info -->
    </div> <!-- .leg -->

    <div class="leg">
      <a class="leg__name" href="#">Mara's Kaleidoscope</a>
      <div class="leg__info">
        <a class="leg__info__pic" href="#_">
          <span class="pic-sm" style="background: url(../assets/media/items/legendaries/accessories/amulets/maras_kaleidoscope.png)"></span>
        </a> <!-- .leg__info__pic -->
        <div class="leg__info__affix leg__affix-container">
          <div class="leg__affix leg__affix--unique">
            <li class="unique"><p>Prevent all Poison damage taken and heal yourself for <span>10 – 15%</span> of the amount prevented.</p></li>
          </div> <!-- .leg__affix-unique -->
          <div class="leg__affix leg__affix--guarenteed">
            <li><p><span>+626 - 750</span> Main Stat</p></li>
            <li><p><span>+6.0 - 10.0%</span> Crit Chance</p></li>
          </div> <!-- .leg__affix-guarenteed -->
        </div> <!-- .leg__info__affix.leg__affix-container -->      
      </div> <!-- .leg__info -->
    </div> <!-- .leg -->

    <div class="leg">
      <a class="leg__name" href="#">Moonlight Ward</a>
      <div class="leg__info">
        <a class="leg__info__pic" href="#_">
          <span class="pic-sm" style="background: url(../assets/media/items/legendaries/accessories/amulets/moonlight_ward.png)"></span>
        </a> <!-- .leg__info__pic -->
        <div class="leg__info__affix leg__affix-container">
          <div class="leg__affix leg__affix--unique">
            <li class="unique"><p>Hitting an enemy within 15 yards has a chance to ward you with shards of Arcane energy that explode when enemies get close, dealing <span>240 – 320%</span> weapon damage as Arcane to enemies within 15 yards.</p></li>
          </div> <!-- .leg__affix-unique -->
          <div class="leg__affix leg__affix--guarenteed">
            <li><p><span>+20 - 25%</span> Increased Arcane Damage</p></li>
            <li><p><span>+6.0 - 10.0%</span> Crit Chance</p></li>
          </div> <!-- .leg__affix-guarenteed -->
        </div> <!-- .leg__info__affix.leg__affix-container -->
      </div> <!-- .leg__info -->
    </div> <!-- .leg -->

    <div class="leg">
      <a class="leg__name" href="#">Ouroboros</a>
      <div class="leg__info">
        <a class="leg__info__pic" href="#_">
          <span class="pic-sm" style="background: url(../assets/media/items/legendaries/accessories/amulets/ouroboros.png)"></span>
        </a> <!-- .leg__info__pic -->
        <div class="leg__info__affix leg__affix-container">
          <div class="leg__affix leg__affix--guarenteed">
            <li><p><span>+626 - 750</span> Main Stat</p></li>
            <li><p><span>+6.0 - 10.0%</span> Crit Chance</p></li>
          </div> <!-- .leg__affix-guarenteed -->
        </div> <!-- .leg__info__affix.leg__affix-container -->
      </div> <!-- .leg__info -->
    </div> <!-- .leg -->

    <div class="leg">
      <a class="leg__name" href="#">Overwhelming Desire</a>
      <div class="leg__info">
        <a class="leg__info__pic" href="#_">
          <span class="pic-sm" style="background: url(../assets/media/items/legendaries/accessories/amulets/overwhelming_desire.png)"></span>
        </a> <!-- .leg__info__pic -->
        <div class="leg__info__affix leg__affix-container">
          <div class="leg__affix leg__affix--unique">
            <li class="unique"><p>Chance on hit to charm the enemy. While charmed, the enemy takes 35% more damage.</p></li>
          </div> <!-- .leg__affix-unique -->
          <div class="leg__affix leg__affix--guarenteed">
            <li><p><span>+626 - 750</span> Main Stat</p></li>
            <li><p><span>+5.0 - 8.0%</span> Cooldown Reduction</p></li>
          </div> <!-- .leg__affix-guarenteed -->
        </div> <!-- .leg__info__affix.leg__affix-container -->
      </div> <!-- .leg__info -->
    </div> <!-- .leg -->

    <div class="leg">
      <a class="leg__name" href="#">Rakoff's Glass of Life</a>
      <div class="leg__info">
        <a class="leg__info__pic" href="#_">
          <span class="pic-sm" style="background: url(../assets/media/items/legendaries/accessories/amulets/rakoffs_glass_of_life.png)"></span>
        </a> <!-- .leg__info__pic -->
        <div class="leg__info__affix leg__affix-container">
          <div class="leg__affix leg__affix--unique">
            <li class="unique"><p>Enemies you kill have a <span>3 – 4%</span> additional chance to drop a health globe.</p></li>
          </div> <!-- .leg__affix-unique -->
          <div class="leg__affix leg__affix--guarenteed">
            <li><p><span>+626 - 750</span> Main Stat</p></li>
            <li><p><span>+20,001 - 29,713</span> Health Globe and Potion Healing</p></li>
          </div> <!-- .leg__affix-guarenteed -->
        </div> <!-- .leg__info__affix.leg__affix-container -->
      </div> <!-- .leg__info -->
    </div> <!-- .leg -->

    <div class="leg">
      <a class="leg__name" href="#">Rondal's Locket</a>
      <div class="leg__info">
        <a class="leg__info__pic" href="#_">
          <span class="pic-sm" style="background: url(../assets/media/items/legendaries/accessories/amulets/rondals_locket.png)"></span>
        </a> <!-- .leg__info__pic -->
        <div class="leg__info__affix leg__affix-container">
          <div class="leg__affix leg__affix--guarenteed">
            <li><p><span>+626 - 750</span> Main Stat</p></li>
            <li><p><span>+x - y</span> Yards to Gold and Health Pickup</p></li>
            <li><p><span>+x,xxx - y,yyy</span> Health Globe and Potion Healing</p></li>
          </div> <!-- .leg__affix-guarenteed -->
        </div> <!-- .leg__info__affix.leg__affix-container -->
      </div> <!-- .leg__info -->
    </div> <!-- .leg -->

    <div class="leg">
      <a class="leg__name" href="#">Squirt's Necklace</a>
      <div class="leg__info">
        <a class="leg__info__pic" href="#_">
          <span class="pic-sm" style="background: url(../assets/media/items/legendaries/accessories/amulets/squirts_necklace.png)"></span>
        </a> <!-- .leg__info__pic -->
        <div class="leg__info__affix leg__affix-container">
          <div class="leg__affix leg__affix--guarenteed">
            <li><p><span>+626 - 750</span> Main Stat</p></li>
            <li><p><span>+51.0 - 100.0%</span> Crit Hit Damage</p></li>
            <li><p><span>+xx – yy%</span> Extra Gold from Monsters</p></li>
          </div> <!-- .leg__affix-guarenteed -->
        </div> <!-- .leg__info__affix.leg__affix-container -->
      </div> <!-- .leg__info -->
    </div> <!-- .leg -->

    <div class="leg">
      <a class="leg__name" href="#">Talisman of Aranoch</a>
      <div class="leg__info">
        <a class="leg__info__pic" href="#_">
          <span class="pic-sm" style="background: url(../assets/media/items/legendaries/accessories/amulets/talisman_of_aranoch.png)"></span>
        </a> <!-- .leg__info__pic -->
        <div class="leg__info__affix leg__affix-container">
          <div class="leg__affix leg__affix--unique">
            <li class="unique"><p>Prevent all Cold damage taken and heal yourself for <span>10 – 15%</span> of the amount prevented.</p></li>
          </div> <!-- .leg__affix-unique -->
          <div class="leg__affix leg__affix--guarenteed">
            <li><p><span>+626 - 750</span> Main Stat</p></li>
          </div> <!-- .leg__affix-guarenteed -->
        </div> <!-- .leg__info__affix.leg__affix-container -->
      </div> <!-- .leg__info -->
    </div> <!-- .leg -->

    <div class="leg">
      <a class="leg__name" href="#">The Ess of Johan</a>
      <div class="leg__info">
        <a class="leg__info__pic" href="#_">
          <span class="pic-sm" style="background: url(../assets/media/items/legendaries/accessories/amulets/the_ess_of_johan.png)"></span>
        </a> <!-- .leg__info__pic -->
        <div class="leg__info__affix leg__affix-container">
          <div class="leg__affix leg__affix--unique">
            <li class="unique"><p>Chance on hit to pull in enemies toward your target and Slow them by <span>60 – 80%</span>.</p></li>
          </div> <!-- .leg__affix-unique -->
          <div class="leg__affix leg__affix--guarenteed">
            <li><p><span>+626 - 750</span> Main Stat</p></li>
            <li><p><span>+5.0 - 8.0%</span> Cooldown Reduction</p></li>
          </div> <!-- .leg__affix-guarenteed -->
        </div> <!-- .leg__info__affix.leg__affix-container -->
      </div> <!-- .leg__info -->
    </div> <!-- .leg -->

    <div class="leg">
      <a class="leg__name" href="#">The Flavor of Time</a>
      <div class="leg__info">
        <a class="leg__info__pic" href="#_">
          <span class="pic-sm" style="background: url(../assets/media/items/legendaries/accessories/amulets/the_flavor_of_time.png)"></span>
        </a> <!-- .leg__info__pic -->
        <div class="leg__info__affix leg__affix-container">
          <div class="leg__affix leg__affix--guarenteed">
            <li><p><span>+5.0 - 8.0%</span> Cooldown Reduction</p></li>
            <li><p><span>+10-12%</span> Movement Speed</p></li>
          </div> <!-- .leg__affix-guarenteed -->
        </div> <!-- .leg__info__affix.leg__affix-container -->
      </div> <!-- .leg__info -->
    </div> <!-- .leg -->

    <div class="leg">
      <a class="leg__name" href="#">The Star of Azkaranth</a>
      <div class="leg__info">
        <a class="leg__info__pic" href="#_">
          <span class="pic-sm" style="background: url(../assets/media/items/legendaries/accessories/amulets/the_star_of_azkaranth.png)"></span>
        </a> <!-- .leg__info__pic -->
        <div class="leg__info__affix leg__affix-container">
          <div class="leg__affix leg__affix--unique">
            <li class="unique"><p>Prevent all Fire damage taken and heal yourself for <span>10–15%</span> of the amount prevented.</p></li>
          </div> <!-- .leg__affix-unique -->
          <div class="leg__affix leg__affix--guarenteed">
            <li><p><span>+626 - 750</span> Main Stat</p></li>
            <li><p><span>+5.0 - 8.0%</span> Cooldown Reduction</p></li>
          </div> <!-- .leg__affix-guarenteed -->
        </div> <!-- .leg__info__affix.leg__affix-container -->
      </div> <!-- .leg__info -->
    </div> <!-- .leg -->

    <div class="leg">
      <a class="leg__name" href="#">Xephirian Amulet</a>
      <div class="leg__info">
        <a class="leg__info__pic" href="#_">
          <span class="pic-sm" style="background: url(../assets/media/items/legendaries/accessories/amulets/xephirian_amulet.png)"></span>
        </a> <!-- .leg__info__pic -->
        <div class="leg__info__affix leg__affix-container">
          <div class="leg__affix leg__affix--unique">
            <li class="unique"><p>Prevent all Lightning damage taken and heal yourself for <span>10–15%</span> of the amount prevented.</p></li>
          </div> <!-- .leg__affix-unique -->
          <div class="leg__affix leg__affix--guarenteed">
            <li><p><span>+626 - 750</span> Main Stat</p></li>
            <li><p><span>+5.0 - 7.0%</span> Attack Speed</p></li>
          </div> <!-- .leg__affix-guarenteed -->
        </div> <!-- .leg__info__affix.leg__affix-container -->
      </div> <!-- .leg__info -->
    </div> <!-- .leg -->

  </div> <!-- .leg-container -->
</main>

<div class="lb" id="countess-julias-cameo">
  <a class="lb__back" href="#"></a>
  <div class="leg">

    <div class="leg__info">
      <div class="leg__info__pic">
        <img class="pic-sm" src="../assets/media/items/legendaries/accessories/amulets/countess_julias_cameo.png">
      </div> <!-- leg__info__pic -->

      <div class="leg__info__details">
        <div class="leg__info__details__name leg__name">
          <span>Countess Julia's Cameo</span>
        </div> <!-- leg__info__details__name.leg__name -->
        <div class="leg__info__details__type">
          <span>Amulet</span>
        </div> <!-- leg__info__details__type -->
      </div> <!-- leg__info__details -->
    </div> <!-- leg__info-container -->

      <div class="leg__affix leg__affix--primary">
        <span>Primary</span>
        <li><p><span>+5.0 - 7.0%</span> Attack Speed</p></li>
        <li><p><span>+626 - 750</span> Main Stat</p></li>
        <li><p><span>+2</span> Random Affixes</p></li>
      </div> <!-- leg__affix-primary -->
      <div class="leg__affix leg__affix--secondary">
        <span>Secondary</span>
        <li class="unique"><p>Prevent all Arcane damage taken and heal yourself for <span>20 - 25%</span> of the amount prevented.</p></li>
        <li><p><span>+2</span> Random Affixes</p></li>
      </div> <!-- leg__affix-secondary -->

    <div class="leg__note">
    </div> <!-- leg__note -->
  </div> <!-- leg -->
</div> <!-- .lb -->

{% endblock main %}

<!--
    <div class="leg">
      <a class="leg__name" href="#countess-julias-cameo">Countess Julia's Cameo</a>
      <div class="leg__info">
        <a class="leg__info__pic" href="#countess-julias-cameo">
          <span class="pic-sm" style="background: url(../assets/media/items/legendaries/accessories/amulets/countess_julias_cameo.png)"></span>
        </a>
        <div class="leg__info__affix leg__affix-container">
          <div class="leg__affix leg__affix~~unique">
            <li class="unique"><p>Prevent all Arcane damage taken and heal yourself for <span>20 – 25%</span> of the amount prevented.</li
          ></div>
          <div class="leg__affix leg__affix~~guarenteed">
            <li><p><span>+626 - 750</span> Main Stat</p></li>
            <li><p><span>+5.0 - 7.0%</span> Attack Speed</p></li>
          </div>
        </div>
      </div>
    </div>
-->