{% extends "base.html" %}

{% block css %}
{% endblock css %}

{% block main %}
<main>
  <div class="legendary-container">

    <div class="legendary">
      <a class="legendary__pic" href="#ancestors-grace">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/ancestors_grace.png);"></span>
      </a>
      <div class="legendary__details">
        <span class="legendary__details__name">Ancestors' Grace</span>
        <br><br>
        <span class="legendary__details__unique"><li>When receiving fatal damage, you are instead restored to 100% of maximum life and resources. This item is destroyed in the process.</li></span>
        <br>
        <span class="legendary__details__guarenteed">
          <li>+626 - 750 Vitality</li>
        </span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <a class="legendary__pic" href="#countess-julias-cameo">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/countess_julias_cameo.png)"></span>
      </a>
      <div class="legendary__details">
        <span class="legendary__details__name">Countess Julia's Cameo</span>
        <br><br>
        <span class="legendary__details__unique"><li>Prevent all Arcane damage taken and heal yourself for 20 – 25% of the amount prevented.</li></span>
        <br>
        <span class="legendary__details__guarenteed">
          <li>+626 - 750 Main Stat</li>
          <li>+5.0 - 7.0% Attack Speed</li>
        </span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <a class="legendary__pic" href="#_">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/dovu_energy_trap.png)"></span>
      </a>
      <div class="legendary__details">
        <span class="legendary__details__name">Dovu Energy Trap</span>
        <br><br>
        <span class="legendary__details__unique">
          <li>Increases duration of Stun effects by 20 – 25%.</li>
        </span>
        <br>
        <span class="legendary__details__guarenteed">
          <li>+626 - 750 Main Stat</li>
          <li>+5.0 - 8.0% Cooldown Reduction</li>
        </span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <a class="legendary__pic" href="#_">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/eye_of_elitch.png)"></span>
      </a>
      <div class="legendary__details">
        <span class="legendary__details__name">Eye of Elitch</span>
        <br><br>
        <span class="legendary__details__guarenteed">
          <li>+15 - 20% Increased <em>Element</em> Damage</li>
          <li>+27.7 - 32.9% Range Damage Reduction (Secondary)</li>
        </span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <a class="legendary__pic" href="#_">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/golden_gorget_of_leoric.png)"></span>
      </a>
      <div class="legendary__details">
        <span class="legendary__details__name">Golden Gorget of Leoric</span>
        <br><br>
        <span class="legendary__details__unique">
          <li>After earning a massacre bonus, 4–6 Skeletons are summoned to fight by your side for 10 seconds.</li>
        </span>
        <br>
        <span class="legendary__details__guarenteed">
          <li>+626 - 750 Main Stat</li>
          <li>+91 - 100 All Resist</li>
          <li>+6.0 - 10.0% Crit Chance</li>
        </span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <a class="legendary__pic" href="#_">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/halcyons_ascent.png)"></span>
      </a>
      <div class="legendary__details">
        <span class="legendary__details__name">Halcyon's Ascent</span>
        <br><br>
        <span class="legendary__details__unique">
          <li>When you use <em>Class Skill</em>, you mesmerize nearby enemies with your skill, causing them to jump uncontrollably for 6–8 seconds.</li>
        </span>
        <br>
        <span class="legendary__details__guarenteed">
          <li>+626 - 750 Main Stat</li>
          <li>+5.0 - 8.0% Cooldown Reduction</li>
        </span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <a class="legendary__pic" href="#_">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/haunt_of_vaxo.png)"></span>
      </a>
      <div class="legendary__details">
        <span class="legendary__details__name">Haunt of Vaxo</span>
        <br><br>
        <span class="legendary__details__unique">
          <li>Summons shadow clones to your aid when you Stun an enemy. This effect may occur once every 30 seconds.</li>
        </span>
        <br>
        <span class="legendary__details__guarenteed">
          <li>+626 - 750 Main Stat</li>
          <li>+6.0 - 10.0% Crit Chance</li>
        </span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <a class="legendary__pic" href="#_">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/hellfire_amulet.png)"></span>
      </a>
      <div class="legendary__details">
        <span class="legendary__details__name">Hellfire Amulet</span>
        <br><br>
        <span class="legendary__details__unique">
          <li>Gain a random <em>Class Specific</em> passive.</li>
        </span>
        <br>
        <span class="legendary__details__guarenteed">
          <li>+626 - 750 Main Stat</li>
          <li>Socket (1)</li>
        </span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <a class="legendary__pic" href="#_">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/holy_beacon.png)"></span>
      </a>
      <div class="legendary__details">
        <span class="legendary__details__name">Holy Beacon</span>
        <br><br>
        <span class="legendary__details__guarenteed">
          <li>+15 - 20% Increased Holy Damage</li>
          <li>+xx - yy Spirit Regeneration per Second</li>
        </span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <a class="legendary__pic" href="#_">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/kymbos_gold.png)"></span>
      </a>
      <div class="legendary__details">
        <span class="legendary__details__name">Kymbo's Gold</span>
        <br><br>
        <span class="legendary__details__unique">
          <li>Picking up gold heals you for an amount equal to the gold that was picked up.</li>
        </span>
        <br>
        <span class="legendary__details__guarenteed">
          <li>+75 – 100% Extra Gold from Monsters (Secondary)</li>
        </span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <a class="legendary__pic" href="#_">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/maras_kaleidoscope.png)"></span>
      </a>
      <div class="legendary__details">
        <span class="legendary__details__name">Mara's Kaleidoscope</span>
        <br><br>
        <span class="legendary__details__unique">
          <li>Prevent all Poison damage taken and heal yourself for 10 – 15% of the amount prevented.</li>
        </span>
        <br>
        <span class="legendary__details__guarenteed">
          <li>+626 - 750 Main Stat</li>
          <li>+6.0 - 10.0% Crit Chance</li>
        </span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <a class="legendary__pic" href="#_">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/moonlight_ward.png)"></span>
      </a>
      <div class="legendary__details">
        <span class="legendary__details__name">Moonlight Ward</span>
        <br><br>
        <span class="legendary__details__unique">
          <li>Hitting an enemy within 15 yards has a chance to ward you with shards of Arcane energy that explode when enemies get close, dealing 240 – 320% weapon damage as Arcane to enemies within 15 yards.</li>
        </span>
        <br>
        <span class="legendary__details__guarenteed">
          <li>+20 - 25% Increased Arcane Damage</li>
          <li>+6.0 - 10.0% Crit Chance</li>
        </span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <a class="legendary__pic" href="#_">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/ouroboros.png)"></span>
      </a>
      <div class="legendary__details">
        <span class="legendary__details__name">Ouroboros</span>
        <br><br>
        <span class="legendary__details__guarenteed">
          <li>+626 - 750 Main Stat</li>
          <li>+6.0 - 10.0% Crit Chance</li>
        </span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <a class="legendary__pic" href="#_">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/overwhelming_desire.png)"></span>
      </a>
      <div class="legendary__details">
        <span class="legendary__details__name">Overwhelming Desire</span>
        <br><br>
        <span class="legendary__details__unique">
          <li>Chance on hit to charm the enemy. While charmed, the enemy takes 35% more damage.</li>
        </span>
        <br>
        <span class="legendary__details__guarenteed">
          <li>+626 - 750 Main Stat</li>
          <li>+5.0 - 8.0% Cooldown Reduction</li>
        </span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <a class="legendary__pic" href="#_">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/rakoffs_glass_of_life.png)"></span>
      </a>
      <div class="legendary__details">
        <span class="legendary__details__name">Rakoff's Glass of Life</span>
        <br><br>
        <span class="legendary__details__unique">
          <li>Enemies you kill have a 3 – 4% additional chance to drop a health globe.</li>
        </span>
        <br>
        <span class="legendary__details__guarenteed">
          <li>+626 - 750 Main Stat</li>
          <li>+20,001 - 29,713 Health Globe and Potion Healing (Secondary)</li>
        </span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <a class="legendary__pic" href="#_">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/rondals_locket.png)"></span>
      </a>
      <div class="legendary__details">
        <span class="legendary__details__name">Rondal's Locket</span>
        <br><br>
        <span class="legendary__details__guarenteed">
          <li>+626 - 750 Main Stat</li>
          <li>+x - y Yards to Gold and Health Pickup (Secondary)</li>
          <li>+x,xxx - y,yyy Health Globe and Potion Healing (Secondary)</li>
        </span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <a class="legendary__pic" href="#_">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/squirts_necklace.png)"></span>
      </a>
      <div class="legendary__details">
        <span class="legendary__details__name">Squirt's Necklace</span>
        <br><br>
        <span class="legendary__details__guarenteed">
          <li>+626 - 750 Main Stat</li>
          <li>+51.0 - 100.0% Crit Hit Damage</li>
          <li>+xx – yy% Extra Gold from Monsters (Secondary)</li>
        </span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <a class="legendary__pic" href="#_">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/talisman_of_aranoch.png)"></span>
      </a>
      <div class="legendary__details">
        <span class="legendary__details__name">Talisman of Aranoch</span>
        <br><br>
        <span class="legendary__details__unique">
          <li>Prevent all Cold damage taken and heal yourself for 10 – 15% of the amount prevented.</li>
        </span>
        <br>
        <span class="legendary__details__guarenteed">
          <li>+626 - 750 Main Stat</li>
        </span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <a class="legendary__pic" href="#_">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/the_ess_of_johan.png)"></span>
      </a>
      <div class="legendary__details">
        <span class="legendary__details__name">The Ess of Johan</span>
        <br><br>
        <span class="legendary__details__unique">
          <li>Chance on hit to pull in enemies toward your target and Slow them by 60 – 80%.</li>
        </span>
        <br>
        <span class="legendary__details__guarenteed">
          <li>+626 - 750 Main Stat</li>
          <li>+5.0 - 8.0% Cooldown Reduction</li>
        </span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <a class="legendary__pic" href="#_">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/the_flavor_of_time.png)"></span>
      </a>
      <div class="legendary__details">
        <span class="legendary__details__name">The Flavor of Time</span>
        <br><br>
        <span class="legendary__details__guarenteed">
          <li>+5.0 - 8.0% Cooldown Reduction</li>
          <li>+10-12% Movement Speed</li>
        </span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->
        
    <div class="legendary">
      <a class="legendary__pic" href="#_">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/the_star_of_azkaranth.png)"></span>
      </a>
      <div class="legendary__details">
        <span class="legendary__details__name">The Star of Azkaranth</span>
        <br><br>
        <span class="legendary__details__unique">
          <li>Prevent all Fire damage taken and heal yourself for 10–15% of the amount prevented.</li>
        </span>
        <br>
        <span class="legendary__details__guarenteed">
          <li>+626 - 750 Main Stat</li>
          <li>+5.0 - 8.0% Cooldown Reduction</li>
        </span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

    <div class="legendary">
      <a class="legendary__pic" href="#_">
        <span class="64x64" style="background: url(../assets/media/items/legendaries/accessories/amulets/xephirian_amulet.png)"></span>
      </a>
      <div class="legendary__details">
        <span class="legendary__details__name">Xephirian Amulet</span>
        <br><br>
        <span class="legendary__details__unique">
          <li>Prevent all Lightning damage taken and heal yourself for 10–15% of the amount prevented.</li>
        </span>
        <br>
        <span class="legendary__details__guarenteed">
          <li>+626 - 750 Main Stat</li>
          <li>+5.0 - 7.0% Attack Speed</li>
        </span>
      </div> <!-- .legendary__details -->
    </div> <!-- .legendary -->

  </div> <!-- .legendary-container -->

</main>

<a href="#" class="lb" id="countess-julias-cameo">
  <div class="lb__leg">

    <div class="lb__leg__info">
      <div class="lb__leg__info__pic">
        <img src="../assets/media/items/legendaries/accessories/amulets/countess_julias_cameo.png">
      </div> <!-- .lb__leg__info__pic -->

      <div class="lb__leg__info__details">
        <div class="lb__leg__info__details__name">
          <span>Countess Julia's Cameo</span>
        </div> <!-- .lb__leg__info__details__name -->
        <div class="lb__leg__info__details__type">
          <span>Amulet</span>
        </div> <!-- lb__leg__info__details__type -->
      </div> <!-- .lb__leg__info__details -->
    </div> <!-- .lb__leg__info-container -->

    <div class="lb__leg__affix lb__leg__affix--primary">
      <span>Primary</span>
      <li><p><span>+5.0 - 7.0%</span> Attack Speed</p></li>
      <li><p><span>+626 - 750</span> Main Stat</p></li>
      <li><p><span>+2</span> Random Affixes</p></li>
    </div> <!-- .lb__leg__affix-primary -->

    <div class="lb__leg__affix lb__leg__affix--secondary">
      <span>Secondary</span>
      <li><p>Prevent all Arcane damage taken and heal yourself for <span>20 - 25%</span> of the amount prevented.</p></li>
      <li><p><span>+2</span> Random Affixes</p></li>
    </div> <!-- .lb__leg__affix-secondary -->

    <div class="lb__leg__note">
    </div> <!-- .lb__leg__note -->

  </div> <!-- .lb__leg -->
</a> <!-- .lb -->


{% endblock main %}



