{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block css %}
  <link rel="stylesheet" href="{% static 'css/base.min.css' %}">
  {% endblock css %}
  <title>{% block title %}D3 Kings{% endblock title%}</title>
</head>
<body>
<header>
<nav>
<ul class="link-container">
  <li class="link link--news"><a href="">News</a></li>

  <li class="link link--items"><a href="">Items</a>
    <ul class="drop drop--down">
      <li class="link drop__link"><a href="">Legendaries</a>
        <ul class="drop drop--right">
          <!-- add a dropdown header where applicable -->
          <li class="link drop__link"><a href="{% url 'legendary' 'weapons' %}">Weapons</a>
            <ul class="drop drop--right">
              <li class="link drop__link"><a href="{% url 'slot' 'weapons' '1h-weapons' %}">1H Weapons</a>
                <ul class="drop drop--right">
                  <li class="link drop__link"><a href="{% url 'category' 'weapons' '1h-weapons' '1h-axes' %}">1H Axes</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'weapons' '1h-weapons' 'ceremonial-knives' %}">Ceremonial Knives</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'weapons' '1h-weapons' '1h-daggers' %}">1H Daggers</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'weapons' '1h-weapons' 'fist-weapons' %}">Fist Weapons</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'weapons' '1h-weapons' '1h-flails' %}">1H Flails</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'weapons' '1h-weapons' 'hand-crossbows' %}">Hand Crossbows</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'weapons' '1h-weapons' '1h-maces' %}">1H Maces</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'weapons' '1h-weapons' '1h-mighty-weapons' %}">1H Mighty Weapons</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'weapons' '1h-weapons' '1h-spears' %}">1H Spears</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'weapons' '1h-weapons' '1h-swords' %}"> 1HSwords</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'weapons' '1h-weapons' 'wands' %}">Wands</a></li>
                  <li class="link drop__link drop__link--all">
                    <a href="{% url 'slot' 'weapons' '1h-weapons' %}"><strong>Show All</strong></a></li>
                </ul> <!-- .drop-right -->
              </li> <!-- .link.drop__link -->

              <li class="link drop__link"><a href="{% url 'slot' 'weapons' '2h-weapons' %}">2H Weapons</a>
                <ul class="drop drop--right">
                  <li class="link drop__link"><a href="{% url 'category' 'weapons' '2h-weapons' '2h-axes' %}">2H Axes</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'weapons' '2h-weapons' 'bows' %}">Bows</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'weapons' '2h-weapons' 'crossbows' %}">Crossbows</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'weapons' '2h-weapons' 'daibos' %}">Daibos</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'weapons' '2h-weapons' '2h-flails' %}">2H Flails</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'weapons' '2h-weapons' '2h-maces' %}">2H Maces</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'weapons' '2h-weapons' '2h-mighty-weapons' %}">2H Mighty Weapons</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'weapons' '2h-weapons' 'polearms' %}">Polearms</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'weapons' '2h-weapons' 'staves' %}">Staves</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'weapons' '2h-weapons' '2h-swords' %}">2H Swords</a></li>
                  <li class="link drop__link drop__link--all">
                    <a href="{% url 'slot' 'weapons' '2h-weapons' %}">Show All</a></li>
                </ul> <!-- .drop-right -->
              </li> <!-- .link.drop__link -->
              
              <li class="link drop__link"><a href="{% url 'slot' 'weapons' 'offhands' %}">Off-hands</a>
                <ul class="drop drop--right">
                  <li class="link drop__link"><a href="{% url 'category' 'weapons' 'offhands' 'crusader-shields' %}">Crusader Shields</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'weapons' 'offhands' 'mojos' %}">Mojos</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'weapons' 'offhands' 'sources' %}">Sources</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'weapons' 'offhands' 'quivers' %}">Quivers</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'weapons' 'offhands' 'shields' %}">Shields</a></li>
                  <li class="link drop__link drop__link--all">
                    <a href="">Show All</a></li>
                </ul> <!-- .drop-right -->
              </li> <!-- .link.drop__link -->
            </ul> <!-- .drop-right -->
          </li> <!-- .link.drop__link -->


          <li class="link drop__link"><a href="{% url 'legendary' 'armor' %}">Armor</a>
            <ul class="drop drop--right">
              <li class="link drop__link"><a href="{% url 'slot' 'armor' 'head' %}">Head</a>
                <ul class="drop drop--right">
                  <li class="link drop__link"><a href="{% url 'category' 'armor' 'head' 'helmets' %}">Helmets</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'armor' 'head' 'spirit-stones' %}">Spirit Stones</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'armor' 'head' 'voodoo-masks' %}">Voodoo Masks</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'armor' 'head' 'wizard-hats' %}">Wizard Hats</a></li>
                  <li class="link drop__link drop__link--all">
                    <a href="">Show All</a></li>
                </ul> <!-- .drop-right -->
              </li> <!-- .link.drop__link -->

              <li class="link drop__link"><a href="{% url 'slot' 'armor' 'shoulders' %}">Shoulders</a></li>

              <li class="link drop__link"><a href="{% url 'slot' 'armor' 'torso' %}">Torso</a>
                <ul class="drop drop--right">
                  <li class="link drop__link"><a href="{% url 'category' 'armor' 'torso' 'chest-armors' %}">Chest Armor</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'armor' 'torso' 'cloaks' %}">Cloaks</a></li>
                  <li class="link drop__link drop__link--all">
                    <a href="">Show All</a></li>
                </ul> <!-- .drop-right -->
              </li> <!-- .link.drop__link -->

              <li class="link drop__link"><a href="{% url 'slot' 'armor' 'bracers' %}">Bracers</a></li>
              <li class="link drop__link"><a href="{% url 'slot' 'armor' 'gloves' %}">Gloves</a></li>

              <li class="link drop__link"><a href="{% url 'slot' 'armor' 'waist' %}">Waist</a>
                <ul class="drop drop--right">
                  <li class="link drop__link"><a href="{% url 'category' 'armor' 'waist' 'belts' %}">Belts</a></li>
                  <li class="link drop__link"><a href="{% url 'category' 'armor' 'waist' 'mighty-belts' %}">Mighty Belts</a></li>
                  <li class="link drop__link drop__link--all">
                    <a href="">Show All</a></li>
                </ul> <!-- .drop-right -->
              </li> <!-- .link.drop__link -->

              <li class="link drop__link"><a href="{% url 'slot' 'armor' 'pants' %}">Pants</a></li>
              <li class="link drop__link"><a href="{% url 'slot' 'armor' 'boots' %}">Boots</a></li>
              <li class="link drop__link drop__link--all">
                <a href="">Show All</a></li>
            </ul> <!-- .drop-right -->
          </li> <!-- .link.drop__link -->


          <li class="link drop__link"><a href="{% url 'legendary' 'accessories' %}">Accessories</a>
            <ul class="drop drop--right">
              <li class="link drop__link"><a href="{% url 'slot' 'accessories' 'rings' %}">Rings</a></li>
              <li class="link drop__link"><a href="{% url 'slot' 'accessories' 'amulets' %}">Amulets</a></li>
              <li class="link drop__link"><a href="">Follower</a></li>
              <li class="link drop__link drop__link--all">
                <a href="">Show All</a></li>
            </ul> <!-- .drop-right -->
          </li> <!-- .link.drop__link -->

        </ul> <!-- .drop-right -->
      </li> <!-- .link.drop__link -->

      <li class="link drop__link"><a href="">Sets</a>
        <ul class="drop drop--right">
          <li class="link drop__link"><a href="">Barbarian</a></li>
          <li class="link drop__link"><a href="">Crusader</a></li>
          <li class="link drop__link"><a href="">Demon Hunter</a></li>
          <li class="link drop__link"><a href="">Monk</a></li>
          <li class="link drop__link"><a href="">Witch Doctor</a></li>
          <li class="link drop__link"><a href="">Wizard</a></li>
          <li class="link drop__link"><a href="">Universal</a></li>
          <li class="link drop__link drop__link--all">
            <a href="">Show All</a></li>
        </ul> <!-- .drop-right -->
      </li> <!-- .link.drop__link -->

      <li class="link drop__link"><a href="">Gems</a>
        <ul class="drop drop--right">
          <li class="link drop__link"><a href="">Legendary Gems</a></li>
          <li class="link drop__link"><a href="">Regular Gems</a></li>
          <li class="link drop__link drop__link--all">
            <a href="">Show All</a></li>
        </ul> <!-- .drop-right -->
      </li> <!-- .link.drop__link -->
      <li class="link drop__link"><a href="">Materials</a></li>
      <li class="link drop__link"><a href="">Potions</a></li>
      <li class="link drop__link"><a href="">Misc</a></li>
    </ul> <!-- .drop-down -->
  </li> <!-- .link-items -->

  <li class="link link--classes"><a href="">Classes</a>
    <ul class="drop drop--down">
      <li class="link drop__link"><a href="">Barbarian</a></li>
      <li class="link drop__link"><a href="">Crusader</a></li>
      <li class="link drop__link"><a href="">Demon Hunter</a></li>
      <li class="link drop__link"><a href="">Monk</a></li>
      <li class="link drop__link"><a href="">Witch Doctor</a></li>
      <li class="link drop__link"><a href="">Wizard</a></li>
    </ul> <!-- .drop-down -->
  </li> <!-- .link-classes -->

  <li class="link link--more"><a href="">More</a>
    <ul class="drop drop--down">
      <li class="link drop__link"><a href="">Guides</a>
        <ul class="drop drop--right">
          <li class="link drop__link"><a href="">Bounties</a></li>
          <li class="link drop__link"><a href="">Cow Level</a></li>
          <li class="link drop__link"><a href="">Followers</a></li>
          <li class="link drop__link"><a href="">Greed's Realm</a></li>
          <li class="link drop__link"><a href="">Kanai's Cube</a></li>
          <li class="link drop__link"><a href="">Murloc</a></li>
          <li class="link drop__link"><a href="">Seasons</a></li>
          <li class="link drop__link"><a href="">Story Mode</a></li>
          <li class="link drop__link"><a href="">Whimsyshire</a></li>
        </ul> <!-- .drop-right -->
      </li> <!-- .link.drop__link -->

      <li class="link drop__link"><a href="">Patch Notes</a>
        <ul class="drop drop--right">
          <li class="link drop__link"><a href="">Live</a></li>
          <li class="link drop__link"><a href="">PTR</a></li>
        </ul> <!-- .drop-right -->
      </li> <!-- .link.drop__link -->
    </ul> <!-- .drop-down -->
  </li> <!-- .link-more -->

  <li class="link link--search"><a href="">Search</a></li>
</ul> <!-- .link-container -->
</nav>
</header>

{% block main %}
<main style="min-height: 1000px"></main>
{% endblock main %}

<footer></footer>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://192.168.1.5:35729/livereload.js?snipver=1"></script>
{% block js %}{% endblock js %}
</body>
</html>