{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Diablo 3{% endblock title%} | Diablo 3</title>
  {% block css %}{% endblock css %}
</head>

<body style="background: url({% static 'media/wallpaper.jpg' %});">
<nav class="nav-main">
<ul class="link-container">

  <li class="link link--legendaries"><a href="{% url 'all-legendaries' %}">Legendaries</a>
    <ul class="drop drop--down">
      <li class="link drop__link"><a href="{% url 'group-weapons' %}">Weapons</a>
        <ul class="drop drop--right">
          <li class="link drop__link"><a href="{% url 'slot-weapons' '1h-weapons' %}">1H Weapons</a>
            <ul class="drop drop--right">
              <li class="link drop__link"><a href="{% url 'category-weapons' '1h-weapons' '1h-axes' %}">1H Axes</a></li>
              <li class="link drop__link"><a href="{% url 'category-weapons' '1h-weapons' 'ceremonial-knives' %}">Ceremonial Knives</a></li>
              <li class="link drop__link"><a href="{% url 'category-weapons' '1h-weapons' '1h-daggers' %}">1H Daggers</a></li>
              <li class="link drop__link"><a href="{% url 'category-weapons' '1h-weapons' 'fist-weapons' %}">Fist Weapons</a></li>
              <li class="link drop__link"><a href="{% url 'category-weapons' '1h-weapons' '1h-flails' %}">1H Flails</a></li>
              <li class="link drop__link"><a href="{% url 'category-weapons' '1h-weapons' 'hand-crossbows' %}">Hand Crossbows</a></li>
              <li class="link drop__link"><a href="{% url 'category-weapons' '1h-weapons' '1h-maces' %}">1H Maces</a></li>
              <li class="link drop__link"><a href="{% url 'category-weapons' '1h-weapons' '1h-mighty-weapons' %}">1H Mighty Weapons</a></li>
              <li class="link drop__link"><a href="{% url 'category-weapons' '1h-weapons' '1h-spears' %}">1H Spears</a></li>
              <li class="link drop__link"><a href="{% url 'category-weapons' '1h-weapons' '1h-swords' %}"> 1H Swords</a></li>
              <li class="link drop__link"><a href="{% url 'category-weapons' '1h-weapons' 'wands' %}">Wands</a></li>
              <li class="link drop__link"><a href="{% url 'slot-weapons' '1h-weapons' %}"><strong><b>Show All</b></strong></a></li>
            </ul> <!-- ul.drop-right -->
          </li> <!-- li.link.drop__link -->

          <li class="link drop__link"><a href="{% url 'slot-weapons' '2h-weapons' %}">2H Weapons</a>
            <ul class="drop drop--right">
              <li class="link drop__link"><a href="{% url 'category-weapons' '2h-weapons' '2h-axes' %}">2H Axes</a></li>
              <li class="link drop__link"><a href="{% url 'category-weapons' '2h-weapons' 'bows' %}">Bows</a></li>
              <li class="link drop__link"><a href="{% url 'category-weapons' '2h-weapons' 'crossbows' %}">Crossbows</a></li>
              <li class="link drop__link"><a href="{% url 'category-weapons' '2h-weapons' 'daibos' %}">Daibos</a></li>
              <li class="link drop__link"><a href="{% url 'category-weapons' '2h-weapons' '2h-flails' %}">2H Flails</a></li>
              <li class="link drop__link"><a href="{% url 'category-weapons' '2h-weapons' '2h-maces' %}">2H Maces</a></li>
              <li class="link drop__link"><a href="{% url 'category-weapons' '2h-weapons' '2h-mighty-weapons' %}">2H Mighty Weapons</a></li>
              <li class="link drop__link"><a href="{% url 'category-weapons' '2h-weapons' 'polearms' %}">Polearms</a></li>
              <li class="link drop__link"><a href="{% url 'category-weapons' '2h-weapons' 'staves' %}">Staves</a></li>
              <li class="link drop__link"><a href="{% url 'category-weapons' '2h-weapons' '2h-swords' %}">2H Swords</a></li>
              <li class="link drop__link"><a href="{% url 'slot-weapons' '2h-weapons' %}"><b>Show All</b></a></li>
            </ul> <!-- ul.drop-right -->
          </li> <!-- li.link.drop__link -->
          
          <li class="link drop__link"><a href="{% url 'slot-weapons' 'offhands' %}">Off-hands</a>
            <ul class="drop drop--right">
              <li class="link drop__link"><a href="{% url 'category-weapons' 'offhands' 'crusader-shields' %}">Crusader Shields</a></li>
              <li class="link drop__link"><a href="{% url 'category-weapons' 'offhands' 'mojos' %}">Mojos</a></li>
              <li class="link drop__link"><a href="{% url 'category-weapons' 'offhands' 'sources' %}">Sources</a></li>
              <li class="link drop__link"><a href="{% url 'category-weapons' 'offhands' 'quivers' %}">Quivers</a></li>
              <li class="link drop__link"><a href="{% url 'category-weapons' 'offhands' 'shields' %}">Shields</a></li>
              <li class="link drop__link"><a href="{% url 'slot-weapons' 'offhands' %}"><b>Show All</b></a></li>
            </ul> <!-- ul.drop-right -->
          </li> <!-- li.link.drop__link -->

          <li class="link drop__link"><a href="{% url 'group-weapons' %}"><b>Show All</b></a></li>
        </ul> <!-- ul.drop-right -->
      </li> <!-- li.link.drop__link -->

      <li class="link drop__link"><a href="{% url 'group-armor' %}">Armor</a>
        <ul class="drop drop--right">
          <li class="link drop__link"><a href="{% url 'slot-armor' 'head' %}">Head</a>
            <ul class="drop drop--right">
              <li class="link drop__link"><a href="{% url 'category-armor' 'head' 'helmets' %}">Helmets</a></li>
              <li class="link drop__link"><a href="{% url 'category-armor' 'head' 'spirit-stones' %}">Spirit Stones</a></li>
              <li class="link drop__link"><a href="{% url 'category-armor' 'head' 'voodoo-masks' %}">Voodoo Masks</a></li>
              <li class="link drop__link"><a href="{% url 'category-armor' 'head' 'wizard-hats' %}">Wizard Hats</a></li>
              <li class="link drop__link"><a href="{% url 'slot-armor' 'head' %}"><b>Show All</b></a></li>
            </ul> <!-- ul.drop-right -->
          </li> <!-- li.link.drop__link -->

          <li class="link drop__link"><a href="{% url 'slot-armor' 'shoulders' %}">Shoulders</a></li>

          <li class="link drop__link"><a href="{% url 'slot-armor' 'torso' %}">Torso</a>
            <ul class="drop drop--right">
              <li class="link drop__link"><a href="{% url 'category-armor' 'torso' 'chest-armors' %}">Chest Armor</a></li>
              <li class="link drop__link"><a href="{% url 'category-armor' 'torso' 'cloaks' %}">Cloaks</a></li>
              <li class="link drop__link">
                <a href="{% url 'slot-armor' 'torso' %}"><b>Show All</b></a></li>
            </ul> <!-- ul.drop-right -->
          </li> <!-- li.link.drop__link -->

          <li class="link drop__link"><a href="{% url 'slot-armor' 'bracers' %}">Bracers</a></li>
          <li class="link drop__link"><a href="{% url 'slot-armor' 'gloves' %}">Gloves</a></li>

          <li class="link drop__link"><a href="{% url 'slot-armor' 'waist' %}">Waist</a>
            <ul class="drop drop--right">
              <li class="link drop__link"><a href="{% url 'category-armor' 'waist' 'belts' %}">Belts</a></li>
              <li class="link drop__link"><a href="{% url 'category-armor' 'waist' 'mighty-belts' %}">Mighty Belts</a></li>
              <li class="link drop__link"><a href="{% url 'slot-armor' 'waist' %}"><b>Show All</b></a></li>
            </ul> <!-- ul.drop-right -->
          </li> <!-- li.link.drop__link -->

          <li class="link drop__link"><a href="{% url 'slot-armor' 'pants' %}">Pants</a></li>
          <li class="link drop__link"><a href="{% url 'slot-armor' 'boots' %}">Boots</a></li>
          <li class="link drop__link"><a href="{% url 'group-armor' %}"><b>Show All</b></a></li>
        </ul> <!-- ul.drop-right -->
      </li> <!-- li.link.drop__link -->

      <li class="link drop__link"><a href="{% url 'group-accessories' %}">Accessories</a>
        <ul class="drop drop--right">
          <li class="link drop__link"><a href="{% url 'slot-accessories' 'rings' %}">Rings</a></li>
          <li class="link drop__link"><a href="{% url 'slot-accessories' 'amulets' %}">Amulets</a></li>
          <li class="link drop__link"><a href="{% url 'slot-accessories' 'followers' %}">Follower</a></li>
          <li class="link drop__link"><a href="{% url 'group-accessories' %}"><b>Show All</b></a></li>
        </ul> <!-- ul.drop-right -->
      </li> <!-- li.link.drop__link -->

      <li class="link drop__link"><a href="{% url 'all-legendaries' %}"><b>Show All</b></a></li>
    </ul> <!-- ul.drop-down -->
  </li> <!-- li.link-legendaries -->

  <li class="link link--sets"><a href="{% url 'all-sets' 'all' %}">Sets</a>
    <ul class="drop drop--down">
      <li class="link drop__link"><a href="{% url 'all-sets' 'barbarian' %}">Barbarian</a></li>
      <li class="link drop__link"><a href="{% url 'all-sets' 'crusader' %}">Crusader</a></li>
      <li class="link drop__link"><a href="{% url 'all-sets' 'demon-hunter' %}">Demon Hunter</a></li>
      <li class="link drop__link"><a href="{% url 'all-sets' 'monk' %}">Monk</a></li>
      <li class="link drop__link"><a href="{% url 'all-sets' 'witch-doctor' %}">Witch Doctor</a></li>
      <li class="link drop__link"><a href="{% url 'all-sets' 'wizard' %}">Wizard</a></li>
      <li class="link drop__link"><a href="{% url 'all-sets' 'universal' %}">Universal</a></li>
      <li class="link drop__link"><a href="{% url 'all-sets' 'all' %}"><b>Show All</b></a></li>
    </ul> <!-- ul.drop-down -->
  </li> <!-- li.link-sets -->

  <li class="link link--gems"><a href="{% url 'gems' %}">Gems</a>
  </li>

  <li class="link link--potions"><a href="{% url 'potions' %}">Potions</a></li>

  <li class="link link--materials"><a href="{% url 'group-materials' %}">Materials</a>
    <ul class="drop drop--down">
      <li class="link drop__link"><a href="{% url 'slot-materials' 'hellfire-amulet-material' %}">Hellfire Mats</a></li>
      <li class="link drop__link"><a href="{% url 'slot-materials' 'horadric-cache-material' %}">Horadric Cache</a></li>
      <li class="link drop__link"><a href="{% url 'slot-materials' 'crafting-material' %}">Crafting Mats</a></li>
      <li class="link drop__link"><a href="{% url 'slot-materials' 'gem-essence' %}">Gem Essences</a></li>
      <li class="link drop__link"><a href="{% url 'group-materials' %}"><b>Show All</b></a></li>
    </ul> <!-- ul.drop-down -->
  </li> <!-- li.link.materials -->


  <li class="link link--misc"><span>Misc</span>
    <ul class="drop drop--down">
      <li class="link drop__link"><a href="{% url 'gems' %}">Gems</a></li>
      <li class="link drop__link"><a href="{% url 'potions' %}">Potions</a></li>
      <li class="link drop__link drop__link--materials"><a href="{% url 'group-materials' %}">Materials</a>
        <div class="splitter"></div>
        <ul class="drop drop--materials">
          <li class="link drop__link"><a href="{% url 'slot-materials' 'hellfire-amulet-material' %}">Hellfire Mats</a></li>
          <li class="link drop__link"><a href="{% url 'slot-materials' 'horadric-cache-material' %}">Horadric Cache</a></li>
          <li class="link drop__link"><a href="{% url 'slot-materials' 'crafting-material' %}">Crafting Mats</a></li>
          <li class="link drop__link"><a href="{% url 'slot-materials' 'gem-essence' %}">Gem Essences</a></li>
          <li class="link drop__link"><a href="{% url 'group-materials' %}"><b>Show All</b></a></li>
        </ul> <!-- .drop-materials -->
      </li> <!-- li.link.drop__link-materials -->
    </ul> <!-- ul.drop-down -->
  </li> <!-- li.link-misc -->

</ul> <!-- ul.link-container -->
</nav> <!-- nav.nav-main -->

{% block header %}{% endblock header %}

{% block content %}{% endblock content %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://192.168.1.5:35729/livereload.js?snipver=1"></script>
{% block js %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock js %}
</body>
</html>