{% extends 'base.html' %}
{% load staticfiles %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/itemsetsall.min.css' %}">
{% endblock css %}


{% block heading %}{% endblock heading %}


{% block content %}
<main>

  <div class="set-container">
    <div class="set">

      <div class="set__name">
        <span><a href="#">Inna's Mantra</a></span>
      </div> <!-- .set__name -->
      <div class="set__pic-container">
        <a href="#" class="set__pic" style="background: url(/assets/media/items/sets/monk/innas_radiance.png)"></a>
      </div> <!-- .set__pic-container -->

      <div class="set__piece-container">
        <span class="set__piece"><a href="#">Bul-Kathos's Warrior Blood</a></span>
        <span class="set__piece"><a href="#">Inna's Radiance</a></span>
        <span class="set__piece"><a href="#">Inna's Vast Expanse</a></span>
        <span class="set__piece"><a href="#">Inna's Hold</a></span>
        <span class="set__piece"><a href="#">Inna's Favor</a></span>
        <span class="set__piece"><a href="#">Inna's Temperance</a></span>
        <span class="set__piece"><a href="#">Inna's Sandals</a></span>
      </div> <!-- .set__piece-container -->

      <div class="set__effect-container">
        <div class="set__effect">
          <span class="set__effect__need">(<strong>2</strong>) Piece Bonus:</span>
          <span class="set__effect__desc"><li><p>Increase the passive effect of your Mystic Ally and the base passive effect of your Mantra by <span class="silver">100%</span></p></li></span>
        </div> <!-- .set__effect__need -->

        <div class="set__effect">
          <span class="set__effect__need">(<strong>4</strong>) Piece Bonus:</span>
          <span class="set__effect__desc"><li><p>Gain the base effect of all four Mantras at all times</p></li></span>
        </div> <!-- .set__effect__need -->

        <div class="set__effect">
          <span class="set__effect__need">(<strong>6</strong>) Piece Bonus:</span>
          <span class="set__effect__desc"><li><p>Mystic Ally casts Cyclone Strike, Exploding Palm, Lashing Tail Kick, Seven-Sided Strike, and Wave of Light when you do</p></li></span>
        </div> <!-- .set__effect__need -->
      </div> <!-- .set__name -->

    </div> <!-- .set -->



    <div class="set">

      <div class="set__name">
        <span><a href="#">Inna's Mantra</a></span>
      </div> <!-- .set__name -->
      <div class="set__pic-container">
        <a href="#" class="set__pic" style="background: url(/assets/media/items/sets/monk/innas_radiance.png)"></a>
      </div> <!-- .set__pic-container -->

      <div class="set__piece-container">
        <span class="set__piece"><a href="#">Bul-Kathos's Warrior Blood</a></span>
        <span class="set__piece"><a href="#">Inna's Radiance</a></span>
        <span class="set__piece"><a href="#">Inna's Vast Expanse</a></span>
        <span class="set__piece"><a href="#">Inna's Hold</a></span>
        <span class="set__piece"><a href="#">Inna's Favor</a></span>
        <span class="set__piece"><a href="#">Inna's Temperance</a></span>
        <span class="set__piece"><a href="#">Inna's Sandals</a></span>
      </div> <!-- .set__piece-container -->

      <div class="set__effect-container">
        <div class="set__effect">
          <span class="set__effect__need">(<strong>2</strong>) Piece Bonus:</span>
          <span class="set__effect__desc"><li><p>Increase the passive effect of your Mystic Ally and the base passive effect of your Mantra by <span class="silver">100%</span></p></li></span>
        </div> <!-- .set__effect__need -->

        <div class="set__effect">
          <span class="set__effect__need">(<strong>4</strong>) Piece Bonus:</span>
          <span class="set__effect__desc"><li><p>Gain the base effect of all four Mantras at all times</p></li></span>
        </div> <!-- .set__effect__need -->

        <div class="set__effect">
          <span class="set__effect__need">(<strong>6</strong>) Piece Bonus:</span>
          <span class="set__effect__desc"><li><p>Mystic Ally casts Cyclone Strike, Exploding Palm, Lashing Tail Kick, Seven-Sided Strike, and Wave of Light when you do</p></li></span>
        </div> <!-- .set__effect__need -->
      </div> <!-- .set__name -->

    </div> <!-- .set -->



    <div class="set">

      <div class="set__name">
        <span><a href="#">Inna's Mantra</a></span>
      </div> <!-- .set__name -->
      <div class="set__pic-container">
        <a href="#" class="set__pic" style="background: url(/assets/media/items/sets/monk/innas_radiance.png)"></a>
      </div> <!-- .set__pic-container -->

      <div class="set__piece-container">
        <span class="set__piece"><a href="#">Bul-Kathos's Warrior Blood</a></span>
        <span class="set__piece"><a href="#">Inna's Radiance</a></span>
        <span class="set__piece"><a href="#">Inna's Vast Expanse</a></span>
        <span class="set__piece"><a href="#">Inna's Hold</a></span>
        <span class="set__piece"><a href="#">Inna's Favor</a></span>
        <span class="set__piece"><a href="#">Inna's Sandals</a></span>
      </div> <!-- .set__piece-container -->

      <div class="set__effect-container">
        <div class="set__effect">
          <span class="set__effect__need">(<strong>2</strong>) Piece Bonus:</span>
          <span class="set__effect__desc"><li><p>Increase the passive effect of your Mystic Ally and the base passive effect of your Mantra by <span class="silver">100%</span> of your Mantra</p></li></span>
        </div> <!-- .set__effect__need -->

        <div class="set__effect">
          <span class="set__effect__need">(<strong>4</strong>) Piece Bonus:</span>
          <span class="set__effect__desc"><li><p>Gain the base effect of all four Mantras at all times</p></li></span>
        </div> <!-- .set__effect__need -->

        <div class="set__effect">
          <span class="set__effect__need">(<strong>6</strong>) Piece Bonus:</span>
          <span class="set__effect__desc"><li><p>Mystic Ally casts Cyclone Strike, Exploding Palm, Lashing Tail Kick, Seven-Sided Strike, and Wave of Light when you do</p></li></span>
        </div> <!-- .set__effect__need -->
      </div> <!-- .set__name -->

    </div> <!-- .set -->

  </div> <!-- .set-container -->

</main>

{% endblock content %}