{% extends "base.html" %}

{% block css %}
{% endblock css %}

{% block main %}

<main>
  <div class="leg-container">

    {% for item in items %}
    <div class="leg">
      <a href="#{{ item.slug }}" class="leg__name">{{ item.name }}</a>
      <div class="leg__info">
        <a href="#{{ item.slug }}" class="leg__info__pic">
          <span class="pic-sm" style="background: url({{ item.pic }})"></span>
        </a> <!-- .leg__info__pic -->
        <div class="leg__info__affix leg__affix-container">

          {% if item.unique %}
          <div class="leg__affix leg__affix--unique">
            <li class="unique"><p>{{ item.unique|safe }}</p></li>
            {% if item.unique2 %}
            <li class="unique"><p>{{ item.unique2|safe }}</p></li>
            {% endif %}
          </div> <!-- .leg__affix-unique -->
          {% endif %}

          {% if item.affixes %}
          <div class="leg__affix leg__affix--guarenteed">
            {% for affix in item.affixes.all %}
            <li><p>{{ affix.desc|safe }}</p></li>
            {% endfor %}
          </div> <!-- .leg__affix-gaurenteed -->
          {% endif %}

        </div> <!-- .leg__info__affix.leg__affix-container -->
      </div> <!-- .leg__info -->
    </div> <!-- .leg -->
    {% endfor %}

  </div> <!-- .leg-container -->


  <div class="lb" id="countess-julias-cameo">
    <a class="lb__back" href="#"></a>
    <div class="leg">

      <div class="leg__info">
        <div class="leg__info__pic">
          <img class="pic-sm" src="../assets/media/items/legendaries/accessories/amulets/countess_julias_cameo.png">
        </div> <!-- leg__info__pic -->

        <div class="leg__info__details">
          <div class="leg__info__details__name leg__name">
            <span>Countess Julia's Cameo</span>
          </div> <!-- leg__info__details__name.leg__name -->
          <div class="leg__info__details__type">
            <span>Amulet</span>
          </div> <!-- leg__info__details__type -->
        </div> <!-- leg__info__details -->
      </div> <!-- leg__info-container -->

        <div class="leg__affix leg__affix--primary">
          <span>Primary</span>
          <li><p><span>+5.0 - 7.0%</span> Attack Speed</p></li>
          <li><p><span>+626 - 750</span> Main Stat</p></li>
          <li><p><span>+2</span> Random Affixes</p></li>
        </div> <!-- leg__affix-primary -->
        <div class="leg__affix leg__affix--secondary">
          <span>Secondary</span>
          <li class="unique"><p>Prevent all Arcane damage taken and heal yourself for <span>20 - 25%</span> of the amount prevented.</p></li>
          <li><p><span>+2</span> Random Affixes</p></li>
        </div> <!-- leg__affix-secondary -->

      <div class="leg__note">
      </div> <!-- leg__note -->
    </div> <!-- leg -->
  </div> <!-- .lb -->


  <div class="lb" id="countess-julias-cameo">
    <a class="lb__back" href="#"></a>
    <div class="leg">

      <div class="leg__info">
        <div class="leg__info__pic">
          <img class="pic-sm" src="../assets/media/items/legendaries/accessories/amulets/countess_julias_cameo.png">
        </div> <!-- leg__info__pic -->

        <div class="leg__info__details">
          <div class="leg__info__details__name leg__name">
            <span>Countess Julia's Cameo</span>
          </div> <!-- leg__info__details__name.leg__name -->
          <div class="leg__info__details__type">
            <span>Amulet</span>
          </div> <!-- leg__info__details__type -->
        </div> <!-- leg__info__details -->
      </div> <!-- leg__info-container -->

        <div class="leg__affix leg__affix--primary">
          <span>Primary</span>
          <li><p><span>+5.0 - 7.0%</span> Attack Speed</p></li>
          <li><p><span>+626 - 750</span> Main Stat</p></li>
          <li><p><span>+2</span> Random Affixes</p></li>
        </div> <!-- leg__affix-primary -->
        <div class="leg__affix leg__affix--secondary">
          <span>Secondary</span>
          <li class="unique"><p>Prevent all Arcane damage taken and heal yourself for <span>20 - 25%</span> of the amount prevented.</p></li>
          <li><p><span>+2</span> Random Affixes</p></li>
        </div> <!-- leg__affix-secondary -->

      <div class="leg__note">
      </div> <!-- leg__note -->
    </div> <!-- leg -->
  </div> <!-- .lb -->

</main>

{% endblock main %}