{% extends "base.html" %}
{% load staticfiles %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/legendaryitems.min.css' %}">
{% endblock css %}


{% block main %}
<main>

<div class="leg-container">

  {% for item in items %}
  <div class="leg">
    <a href="#{{ item.slug }}" class="leg__name">{{ item.name }}</a>
    <div class="leg__info">
      <a href="#{{ item.slug }}" class="leg__info__pic">
        {% if pic == 1 %}
        <span class="pic-sm" style="background: url({{ item.pic }})"></span>
        {% else %}
        <span class="pic-lg" style="background: url({{ item.pic }})"></span>
        {% endif %}
      </a> <!-- .leg__info__pic -->
      <div class="leg__info__affix-container">

        {% if item.unique %}
        <div class="leg__info__affix leg__info__affix--unique">
          <li class="unique"><p>{{ item.unique|safe }}</p></li>
        </div> <!-- .leg__info__affix-unique -->
        {% endif %}

        {% if item.affixes.all %}
        <div class="leg__info__affix leg__info__affix--guarenteed">
          {% for affix in item.affixes.all %}
          <li><p>{{ affix.desc|safe }}</p></li>
          {% endfor %}
        </div> <!-- .leg__info__affix-gaurenteed -->
        {% endif %}

        {% if not item.unique and not item.affixes.all %}
        <div class="leg__info__affix leg__info__affix--guarenteed">
          {% if item.random_primaries %}
          <li>
            <p><span>+{{ item.random_primaries }}</span> Random Affixes</p>
          </li>
          {% endif %}

          {% if item.random_secondaries %}
          <li>
            <p><span>+{{ item.random_secondaries }}</span> Random Affixes</p>
          </li>
          {% endif %}
        </div> <!-- .leg__info__affix-gaurenteed -->
        {% endif %}


      </div> <!-- .leg__info__affix-container -->
    </div> <!-- .leg__info -->
  </div> <!-- .leg -->

  {% endfor %}

</div> <!-- .leg-container -->


{% for item in items %}
  <div class="lb" id="{{ item.slug }}">
    <a class="lb__back" href="#"></a>
    <div class="lb__leg">

      <div class="lb__leg__info">
        <div class="lb__leg__info__pic">
          {% if pic == 1 %}
          <span class="pic-sm" style="background: url({{ item.pic }})"></span>
          {% else %}
          <span class="pic-lg" style="background: url({{ item.pic }})"></span>
          {% endif %}
        </div> <!-- .lb__leg__info__pic -->

        <div class="lb__leg__info__details">
          <div class="lb__leg__info__details__name">
            <span>{{ item.name }}</span>
          </div> <!-- .lb__leg__info__details__name -->
          <div class="lb__leg__info__details__type">
            <span>{{ item.category }}</span> 
          </div> <!-- .lb__leg__info__details__type -->
        </div> <!-- .lb__leg__info__details -->
      </div> <!-- .lb__leg__info -->

      <div class="lb__leg__affix lb__leg__affix--primary">
        <span>Primary</span>

        {% if item.unique and item.unique_is_primary %}
        <li class="unique"><p>{{ item.unique|safe }}</p></li>
        {% endif %}

        {% if item.primary_affixes %}
        {% for affix in item.primary_affixes %}
        <li><p>{{ affix.desc|safe }}</p></li>
        {% endfor %}
        {% endif %}

        {% if item.random_primaries %}
        <li>
          <p><span>+{{ item.random_primaries }}</span> Random Affixes</p>
        </li>
        {% endif %}
      </div> <!-- .lb__leg__affix-primary -->

      <div class="lb__leg__affix lb__leg__affix--secondary">
        <span>Secondary</span>
        {% if item.unique and not item.unique_is_primary %}
        <li class="unique"><p>{{ item.unique|safe }}</p></li>
        {% endif %}

        {% if item.secondary_affixes %}
        {% for affix in item.secondary_affixes %}
        <li><p>{{ affix.desc|safe }}</p></li>
        {% endfor %}
        {% endif %}
        
        {% if item.random_secondaries %}
        <li>
          <p><span>+{{ item.random_secondaries }}</span> Random Affixes</p>
        </li>
        {% endif %}
      </div> <!-- .lb__leg__affix-secondary -->

      <div class="lb__leg__note">
      </div> <!-- .lb__leg__note -->

    </div> <!-- .lb__leg -->
  </div> <!-- .lb -->
{% endfor %}

</main>
{% endblock main %}