/* modules/variables
 =========================================================================== 
 =========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display+SC);
/* partials/reset
============================================================================ 
============================================================================ */
/* Universal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* {
  position: relative;
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 1 */ }

/* HTML5 display definitions
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
footer,
header,
main,
menu,
nav,
section {
  display: block; }

/* Links
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
a {
  background-color: transparent;
  /* 1 */ }
  a a:active,
  a a:hover {
    outline: 0;
    /* 2 */ }

/* Text-level semantics
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
b,
strong {
  font-weight: bold; }

/* Embedded content
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
img {
  border: 0; }

/* Grouping content
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/* Forms
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
button,
input,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */ }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

/* partials/global
============================================================================ 
============================================================================ */
html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  background: url(../media/wallpaper.jpg); }

body {
  width: 100%;
  height: 100%; }

ul {
  list-style: none; }

a {
  color: black;
  text-decoration: none; }

button:hover {
  cursor: pointer; }

/* Clear-fix
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/* partials/nav
============================================================================ 
============================================================================ */
nav {
  z-index: 100;
  font-size: 2em;
  font-weight: 500; }

.link-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-border-radius: 0 0 1rem 1rem;
          border-radius: 0 0 1rem 1rem;
  margin: auto;
  width: 97%;
  text-align: center;
  background-color: #e4f1fe; }
  @media only screen and (max-width: 1200px) {
    .link-container {
      width: 92%; } }
  @media only screen and (max-width: 992px) {
    .link-container {
      width: 97%; } }
  @media only screen and (max-width: 768px) {
    .link-container {
      width: 95%; } }
  @media only screen and (max-width: 480px) {
    .link-container {
      width: 100%; } }
  .link-container > .link {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; }
    .link-container > .link > a {
      color: #2c3e50; }

.link {
  width: 14rem;
  line-height: 4rem;
  font-family: "Playfair Display SC", serif; }
  .link:hover {
    background-color: #6c7a89; }
    .link:hover > .drop {
      display: block; }
    .link:hover a {
      color: #f2f1ef; }
  .link a {
    display: block; }

.drop {
  display: none;
  position: absolute;
  background: #6c7a89; }

.drop--down {
  font-size: 0.85em; }

.drop--down > .drop__link:nth-child(1) {
  border-top: 0.1rem solid #5B6978; }

.drop__link {
  width: 14rem;
  border-bottom: 0.1rem solid #62707F;
  line-height: 3.4rem !important;
  font-weight: 400;
  font-family: "Roboto", sans-serif; }
  .drop__link:hover {
    background-color: #2c3e50; }

.drop--right {
  top: 0;
  left: 14rem;
  border-left: 0.1rem solid #eeeeee; }

/* partials/items/base_items
============================================================================ 
============================================================================ */
*::-moz-selection {
  background: #b2dbff;
  color: black; }
*::selection {
  background: #b2dbff;
  color: black; }

.item-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 138rem;
  margin: 5rem auto 3rem auto;
  padding: 0.3rem 0;
  text-align: center;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif; }
  @media only screen and (max-width: 1450px) {
    .item-container {
      max-width: 96%; } }
  @media only screen and (max-width: 1200px) {
    .item-container {
      max-width: 95rem; } }
  @media only screen and (max-width: 992px) {
    .item-container {
      max-width: 73rem; } }
  @media only screen and (max-width: 768px) {
    .item-container {
      max-width: 58rem; } }
  @media only screen and (max-width: 480px) {
    .item-container {
      border: none;
      -webkit-border-radius: 0.5rem;
              border-radius: 0.5rem; } }

.item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 32.6%;
  margin: 0.5rem 0;
  border: 2px solid #afb4b9;
  background-color: rgba(34, 49, 63, 0.75); }
  @media only screen and (max-width: 1200px) {
    .item {
      width: 48.8%; } }
  @media only screen and (max-width: 768px) {
    .item {
      width: 92%; } }
  @media only screen and (max-width: 480px) {
    .item {
      width: 96%; } }

.item__name {
  display: block;
  width: 100%;
  margin: 1rem 0 1.5rem;
  padding: 0 1.5rem;
  text-align: center;
  font-size: 1.4em;
  font-family: "Playfair Display SC", serif;
  color: #ec7211;
  line-height: 2.5rem; }
  .item__name:hover {
    font-weight: 700;
    color: #dd6311; }
  .item__name:after {
    content: "";
    display: block;
    height: 1px;
    margin: 5px 0 2px;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, #d7640f), to(transparent));
    background: -webkit-linear-gradient(left, transparent 0%, #d7640f 50%, transparent 100%);
    background: linear-gradient(to right, transparent 0%, #d7640f 50%, transparent 100%); }

.item__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding: 0 3rem 1.5rem 2rem;
  margin: auto; }

.item__info__pic {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-right: 3rem;
  min-width: 70px;
  height: 132px;
  border: 2px solid;
  border-color: #ec7211;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  background-color: #2c3e50; }
  .item__info__pic:hover {
    border-color: #fa7808;
    background-color: #2e4153; }

.pic {
  display: inline-block;
  width: 64px;
  height: 128px;
  text-align: center; }

.item__info__affix-container {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  text-align: left;
  list-style: circle; }

.item__info__affix {
  line-height: 2rem; }
  .item__info__affix .unique {
    padding-bottom: 1.2rem;
    line-height: normal; }
  .item__info__affix li {
    text-indent: -1em;
    color: #b5b5b5; }
    .item__info__affix li span {
      display: inline-block;
      text-indent: 0; }

.filler--1 {
  display: block; }
  .filler--1:nth-child(3n+1) {
    display: none; }

.filler--2 {
  display: block; }
  .filler--2:nth-child(3n+1), .filler--2:nth-child(3n+2) {
    display: none; }

@media only screen and (max-width: 1200px) {
  .filler--1:nth-child(3n+1) {
    display: block; }
  .filler--1:nth-child(odd), .filler--2 {
    display: none; } }

@media only screen and (max-width: 768px) {
  .filler--1, .filler--1:nth-child(3n+1) {
    display: none; } }

/* partials/items/items_legendaries
============================================================================ 
============================================================================ */
.item__info__affix .unique p {
  color: #D27500; }

.item__info__affix .unique .silver {
  color: #dadfe1; }

.item__info__affix li p {
  color: #7D7DFF; }

.item__info__affix li span {
  color: #C89DFF; }
