/* modules/variables
 =========================================================================== 
 =========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display+SC);
/* partials/reset
============================================================================ 
============================================================================ */
/* Universal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* {
  position: relative;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 1 */ }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

/* HTML5 display definitions
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
footer,
header,
main,
menu,
nav,
section {
  display: block; }

/* Links
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
a {
  background-color: transparent;
  /* 1 */ }
  a a:active,
  a a:hover {
    outline: 0;
    /* 2 */ }

/* Text-level semantics
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
b,
strong {
  font-weight: bold; }

/* Embedded content
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
img {
  border: 0; }

/* Grouping content
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/* Forms
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
button,
input,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */ }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

/* partials/global
============================================================================ 
============================================================================ */
*::-moz-selection {
  background: #b2dbff;
  color: black; }
*::selection {
  background: #b2dbff;
  color: black; }

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  background: url(../media/wallpaper.jpg); }

body {
  width: 100%;
  height: 100%; }

ul {
  list-style: none; }

a {
  color: black;
  text-decoration: none; }

button:hover {
  cursor: pointer; }

/* Clear-fix
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/* partials/nav
============================================================================ 
============================================================================ */
.nav-main {
  z-index: 100;
  font-size: 2em; }

.link-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  position: relative;
  border-top: 0;
  text-align: center;
  background-color: rgba(34, 49, 63, 0.8); }

.link {
  width: 15rem;
  line-height: 4rem;
  font-family: "Playfair Display SC", serif; }
  .link:hover {
    background-color: #2c4154; }
    .link:hover > a {
      color: #ff791f; }
  .link a {
    display: block;
    color: #f2f1ef; }

.link--misc {
  display: none; }

.drop {
  display: none;
  position: absolute;
  background: #384d61; }

.drop--down {
  font-size: 0.85em; }

.drop__link {
  width: 15rem;
  border-bottom: 0.1rem solid #62707f;
  line-height: 2rem;
  font-family: "Roboto", sans-serif; }
  .drop__link:hover {
    background-color: #2c3e50; }
  .drop__link:last-child {
    border-bottom: 0; }
  .drop__link > a {
    padding: 1.1rem 0; }

.drop--right {
  top: 0;
  left: 15rem;
  border-right: 0.1rem solid #54606d;
  border-left: 0.1rem solid #54606d; }

@media only screen and (max-width: 768px) {
  .link--gems, .link--potions, .link--materials {
    display: none; }
  .link--sets {
    left: 1.8rem; }
  .link--misc {
    display: list-item; }
    .link--misc > span {
      display: block;
      color: #f2f1ef; }
    .link--misc:hover > span {
      color: #ff791f; }
  .drop__link--materials:hover .splitter {
    display: block;
    height: 1px;
    background: #a0a0a0; } }

@media only screen and (max-width: 480px) {
  .nav-main {
    font-size: 1.7em; }
  .link {
    width: 12rem; }
    .link .drop--down {
      font-size: 1em; }
    .link .drop__link {
      width: 12rem; }
    .link .drop--right {
      left: 12rem; }
  .link--sets {
    left: 1.4rem; } }

/* partials/itemsets/itemsets_single
============================================================================ 
============================================================================ */
.set {
  width: 90%;
  margin: 5.5rem auto 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif; }
  @media only screen and (max-width: 1200px) {
    .set {
      width: 96%; } }

.set__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  padding-bottom: 2rem; }

.set__info__name {
  width: 40%;
  padding: 0 0 0 2rem;
  text-align: center;
  font-size: 2em;
  font-family: "Playfair Display SC", serif; }
  .set__info__name span {
    font-weight: 700;
    line-height: 1rem;
    color: #75d911; }
    .set__info__name span:after {
      content: "";
      display: block;
      height: 2px;
      margin: 1px 0 2px;
      background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, #57a710), to(transparent));
      background: -webkit-linear-gradient(left, transparent 0%, #57a710 50%, transparent 100%);
      background: linear-gradient(to right, transparent 0%, #57a710 50%, transparent 100%); }
  @media only screen and (max-width: 992px) {
    .set__info__name {
      width: 95%;
      margin: 0 auto;
      padding: 1rem 0 2rem 0;
      text-align: center; } }

.set__info__effect-container {
  width: 58%;
  padding: 0 3rem 0 2.5rem; }
  @media only screen and (max-width: 992px) {
    .set__info__effect-container {
      width: 65%;
      margin: 0 auto;
      padding: 0; } }
  @media only screen and (max-width: 768px) {
    .set__info__effect-container {
      width: 75%; } }
  @media only screen and (max-width: 480px) {
    .set__info__effect-container {
      width: 90%;
      padding: 0 0 0 1rem; } }

.set__info__effect {
  padding-bottom: 1rem; }
  .set__info__effect .set__info__effect__need {
    display: block;
    color: #c8c8c8; }
    .set__info__effect .set__info__effect__need strong {
      color: #6ac60f; }
  .set__info__effect:hover strong {
    color: #78d911; }
  .set__info__effect .set__info__effect__desc {
    display: block;
    padding-left: 2rem;
    text-indent: -1em; }
    .set__info__effect .set__info__effect__desc li {
      color: #b5b5b5; }
    .set__info__effect .set__info__effect__desc li:nth-child(n+2) {
      padding-top: 0.3rem; }
    .set__info__effect .set__info__effect__desc p {
      color: #ffba16; }
    .set__info__effect .set__info__effect__desc .silver {
      color: #ff9f00; }

.set__piece-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 100%; }
  .set__piece-container .set__piece {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    width: 32.5%;
    margin-top: 1.2rem;
    border: 2px solid #afb4b9;
    padding: 1.5rem 1rem;
    background-color: rgba(34, 49, 63, 0.6); }
    @media only screen and (max-width: 992px) {
      .set__piece-container .set__piece {
        width: 47.5%; } }
    @media only screen and (max-width: 480px) {
      .set__piece-container .set__piece {
        width: 92%; } }
  .set__piece-container .set__pic {
    min-width: 70px;
    height: 132px;
    margin: 0 0.8rem 0 0.5rem;
    border: 2px solid #57ac10;
    -webkit-border-radius: 9px;
            border-radius: 9px;
    background-color: #2c3e50; }
    .set__piece-container .set__pic span {
      display: inline-block;
      top: 50%;
      left: 50%;
      width: 64px;
      height: 128px;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .set__piece-container .set__piece__info {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .set__piece-container .set__piece__info .set__piece__info__name {
      padding: 0.7rem 0; }
      .set__piece-container .set__piece__info .set__piece__info__name span {
        display: inline-block;
        padding-left: 1rem;
        line-height: 2rem;
        text-indent: -0.3rem;
        font-size: 1.2em;
        font-family: "Playfair Display SC", serif;
        color: #5fbe05; }
    .set__piece-container .set__piece__info .set__piece__info__category {
      color: #bfbfbf;
      text-indent: 1.3rem;
      font-style: italic; }
