/* modules/variables
 =========================================================================== 
 =========================================================================== */
/* partials/reset
 =========================================================================== 
 =========================================================================== */
* {
  position: relative;
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box; }

/* Universal
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* {
  position: relative;
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box; }

/**
 * 1. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 1 */ }

/* HTML5 display definitions
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/**
 * Correct `block` display not defined for-- 
 *  --any HTML5 element in IE 8/9
 *  --`details` or `summary` in IE 10/11 and Firefox.
 *  --`main` in IE 11.
 */
footer,
header,
main,
menu,
nav,
section {
  display: block; }

/* Links
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/**
 * 1. Remove the gray background color from active links in IE 10.
 * 2. Improve readability when focused and also mouse hovered in all browsers.
 */
a {
  background-color: transparent;
  /* 1 */ }
  a a:active,
  a a:hover {
    outline: 0;
    /* 2 */ }

/* Text-level semantics
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/* Embedded content
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/* Grouping content
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/* Forms
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited. 
 */
button,
input,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox. 
 */
button,
select {
  text-transform: none; }

/* Reset sources
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/**
 * box-sizing: border-box
 * http://stackoverflow.com/questions/29605843/how-do-you-add-box-sizing-border-box-to-normalize-css-file

 * normalize.css
 * https://github.com/necolas/normalize.css/
 */
/* partials/global
 =========================================================================== 
 =========================================================================== */
html {
  font-size: 62.5%; }

body {
  width: 100%; }

ul {
  list-style: none; }

a {
  color: black;
  text-decoration: none; }

button:hover {
  cursor: pointer; }

/* Clear-fix
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/* partials/header
 =========================================================================== 
 =========================================================================== */
header {
  width: 100%;
  min-height: 75rem;
  background: url(../media/eric-sunset2.jpg) no-repeat center;
  background-size: cover;
  font-size: 1.5rem;
  text-align: center; }
  @media only screen and (max-width: 992px) {
    header {
      font-size: 1.4rem; } }
  @media only screen and (max-width: 768px) {
    header {
      font-size: 1.3rem; } }

/* Nav
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
nav {
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  text-transform: uppercase;
  font-size: 1.4em; }
  @media only screen and (max-width: 768px) {
    nav {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; } }

.dropdown {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto; }

.dropdown__button {
  display: none;
  border: solid transparent;
  background: transparent;
  color: white;
  padding: 0.2rem 3rem;
  width: 100%;
  text-transform: uppercase; }
  @media only screen and (max-width: 768px) {
    .dropdown__button {
      display: inline-block; } }
  @media only screen and (max-width: 480px) {
    .dropdown__button {
      content: "Menu"; } }
  @media only screen and (max-width: 768px) {
    .dropdown__button:after {
      content: "explore"; } }
  @media only screen and (max-width: 480px) {
    .dropdown__button:after {
      content: "menu"; } }

@media only screen and (max-width: 768px) {
  .dropdown:hover .dropdown__menu {
    display: block;
    width: 100%;
    text-align: center; } }

.nav__link--home {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  border-radius: 0.3rem 2.5rem !important;
  margin-right: 5rem; }
  .nav__link--home a {
    padding: 0.6rem 3.1rem !important;
    background-color: transparent !important; }
  @media only screen and (max-width: 992px) {
    .nav__link--home {
      margin-right: 2rem; } }
  @media only screen and (max-width: 768px) {
    .nav__link--home {
      margin-right: 0; } }

.nav__link {
  padding: 0.5rem 0;
  border: solid transparent;
  border-radius: 2.5rem 0.3rem; }
  @media only screen and (max-width: 768px) {
    .nav__link {
      border: none; } }
  .nav__link:hover {
    background-color: rgba(0, 0, 0, 0.6); }
    @media only screen and (max-device-width: 768px) {
      .nav__link:hover {
        background-color: transparent; } }
  .nav__link a {
    color: white;
    padding: 0.6rem 4rem; }
    @media only screen and (max-width: 992px) {
      .nav__link a {
        padding: 0.6rem 2rem; } }
    .nav__link a:hover {
      color: #FF9025; }
      @media only screen and (max-device-width: 768px) {
        .nav__link a:hover {
          color: white; } }

@media only screen and (max-width: 768px) {
  .dropdown__menu {
    position: absolute;
    display: none;
    padding-top: 0.1rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0 0 2.5rem 0;
    padding: 0.3rem 0.4rem 0.5rem 0.4rem; }
    .dropdown__menu .nav__link {
      display: block;
      padding: 0.2rem; }
      .dropdown__menu .nav__link:hover {
        background-color: rgba 0, 0, 0, 0.2; }
      .dropdown__menu .nav__link a {
        z-index: 100;
        padding: 0.1rem 0; } }

@media only screen and (max-width: 480px) {
  .nav__link a {
    font-size: 0.9em; } }

/**
 * @media only screen and (max-width: 768px) {
 *   .nav__link:hover .dropdown__button {
 *     // do something about this with js to leave a hover effect
 *   }
 * }
 */
/* Hero
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.hero {
  top: 14rem;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media only screen and (max-width: 1200px) {
    .hero {
      top: 11.5rem; } }

.hero__text-container {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f0f0f0; }
  @media only screen and (max-width: 768px) {
    .hero__text-container {
      width: 85%; } }

.hero__text__content {
  padding: 0 3rem;
  border: 0.4rem solid;
  border-radius: 0.3rem;
  border-top-color: #373737;
  border-right-color: #c8c8c8;
  border-bottom-color: #c8c8c8;
  border-left-color: #373737;
  font-size: 1.2em;
  font-weight: 500; }
  .hero__text__content h1 {
    padding: 2rem 0;
    font-size: 2.5em; }
  .hero__text__content p {
    padding-bottom: 2.5rem;
    font-weight: 500; }

.hero__button-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.hero__button {
  margin: 0 0.2rem;
  padding: 1.6rem 3.3rem;
  border: 0.2rem solid rgba(255, 255, 255, 0);
  border-radius: 0.7rem;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 0.15rem;
  text-transform: uppercase; }
  .hero__button:hover {
    border: solid white;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FF9025;
    font-weight: 800; }
  @media only screen and (max-device-width: 768px) {
    .hero__button:hover {
      border: 0.2rem solid rgba(255, 255, 255, 0);
      background-color: rgba(255, 255, 255, 0.6);
      color: black;
      font-weight: 700; } }

/* partials/about
 =========================================================================== 
 =========================================================================== */
.section--about {
  width: 100%;
  font-size: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .section--about > img {
    margin: 1.5rem 3rem;
    border-radius: 50%;
    height: 31rem;
    width: 30rem; }
    @media only screen and (max-width: 768px) {
      .section--about > img {
        margin: 3rem 3rem 2rem 3rem; } }

.about-container {
  width: 40%; }
  @media only screen and (max-width: 768px) {
    .about-container {
      width: 70%; } }

.about h2 {
  padding: 1rem; }

.about p {
  padding-bottom: 1rem; }
