// /* Grays
//  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

$cararra: rgb(242,241,239);
$porcelain: rgb(236,240,241);
$gallery: rgb(238,238,238); //#EEEEEE
$white-smoke: rgb(236,236,236); //#ECECEC
$iron: rgb(218,223,225);
$silver-sand: rgb(189,195,199);
$silver: rgb(191,191,191); //#BFBFBF
$lynch: rgb(108,122,137);

// /* Blues
//  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

$alice-blue: rgb(228,241,254);
$humming-bird: rgb(197,239,247);
$jordy-blue: rgb(137,196,244);
$malibu: rgb(107,185,240);
$fountain-blue: rgb(92,151,191);
$hoki: rgb(103,128,159);
$madison: rgb(44,62,80);
$ebony-clay: rgb(34,49,63);

// /* Purples
//  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

$snuff: rgb(220,198,224);
$wistful: rgb(174,168,211);
