// Grays
$cararra: rgb(242, 241, 239);
$iron: rgb(218, 223, 225);
$silver-sand: rgb(189, 195, 199);
$silver: rgb(191, 191, 191);

//Blues
$madison: rgb(44, 62, 80);
$ebony-clay: rgb(34, 49, 63);

//Oranges
$legendary: rgb(236, 114, 17);

//Greens
$set-name: rgb(117, 217, 17);
$set-pic: rgb(87, 172, 16);