{% extends 'items/base_items.html' %}
{% load staticfiles %}


{% block title %}
{{ title }}
{% endblock title %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/items_legendaries.min.css' %}">
{% endblock css %}


{% block header %}

<header>
  <div class="overview">
    <h1>{{ header }}</h1>
    <h3>Patch 2.4</h3>
  </div> <!-- .overview -->

  <div class="toggle-container">
    <span style="background: url({% static 'media/portraits/42/all.png' %})" class="toggle toggle--all toggle--selected"></span>
    <span style="background: url({% static 'media/portraits/42/barb.png' %})" class="toggle toggle--bb"></span>
    <span style="background: url({% static 'media/portraits/42/sader.png' %})" class="toggle toggle--cs"></span>
    <span style="background: url({% static 'media/portraits/42/dh.png' %})" class="toggle toggle--dh"></span>
    <span style="background: url({% static 'media/portraits/42/monk.png' %})" class="toggle toggle--mk"></span>
    <span style="background: url({% static 'media/portraits/42/wd.png' %})" class="toggle toggle--wd"></span>
    <span style="background: url({% static 'media/portraits/42/wiz.png' %})" class="toggle toggle--wz"></span>
  </div> <!-- .toggle-container -->
  <div class="patch"><span>Show Changed/Added in Patch 2.4</span></div>
</header>

{% endblock header %}


{% block item_div %}
<div class="item {{ item.owner }} {{ item.patch }}">
{% endblock item_div %}


{% block item_name %}
<a href="{% url 'single-legendary' item.group item.name_slug %}" class="item__name">{{ item.name }}</a>
{% endblock item_name %}


{% block item_pic %}
<a href="{% url 'single-legendary' item.group item.name_slug %}" class="item__info__pic">
{% endblock item_pic %}


{% block item_unique %}

{% if item.unique %}
<div class="item__info__affix">
  <li class="unique"><p>{{ item.unique|safe }}</p></li>
</div> <!-- .item__info__affix -->
{% endif %}

{% endblock item_unique %}


{% block item_affixes %}

{% if item.affixes.all %}
<div class="item__info__affix">
  {% for affix in item.affixes.all %}
  <li class="affix">
    <p>{{ affix.desc|safe }}</p>
  </li> <!-- li.affix -->

  {% endfor %}
</div> <!-- .item__info__affix -->

{% elif not item.unique %}
<div class="item__info__affix">
  {% if item.random_primaries %}
  <li>
    <p><span class="random">+{{ item.random_primaries }}</span> Random Affixes</p>
  </li>
  {% endif %}

  {% if item.random_secondaries %}
  <li>
    <p><span class="random">+{{ item.random_secondaries }}</span> Random Affixes</p>
  </li>
  {% endif %}
</div> <!-- .item__info__affix -->
{% endif %}

{% endblock item_affixes %}


{% block legendaries_toggle %}
<div class="nothing-found"><p>No items to show!</p></div>
{% endblock legendaries_toggle %}


{% block js %}
<script src="{% static 'js/items_legendaries.min.js' %}"></script>
{% endblock js %}