{% extends 'items/base_items.html' %}
{% load staticfiles %}


{% block title %}
Legendary {{ header }}s
{% endblock title %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/items_potions.min.css' %}">
{% endblock css %}


{% block header %}

<header>
  <div class="overview">
    <h1>Legendary {{ header }}s</h1>
    <h3>Patch 2.4</h3>
  </div> <!-- .overview -->
</header>

{% endblock header %}


{% block item_name %}
<a href="{% url 'single-potion' item.name_slug %}" class="item__name">{{ item.name }}</a>
{% endblock item_name %}


{% block item_pic %}
<a href="{% url 'single-potion' item.name_slug %}" class="item__info__pic">
{% endblock item_pic %}