{% extends 'items/base_items.html' %}
{% load staticfiles %}


{% block title %}
{{ header }}s
{% endblock title %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/items_materials.min.css.gz' %}">
{% endblock css %}


{% block header %}

<header>
  <div class="overview">
    <h1>{{ header }}s</h1>
    <h3>Patch 2.4</h3>
  </div> <!-- .overview -->
</header>

{% endblock header %}


{% block item_div %}
<div class="item item--{{ item.rarity }}">
{% endblock item_div %}


{% block item_name %}
<a href="{% url 'single-material' item.name_slug %}" class="item__name">{{ item.name }}</a>
{% endblock item_name %}


{% block item_pic %}
<a href="{% url 'single-material' item.name_slug %}" class="item__info__pic">
{% endblock item_pic %}