/* partials/header
 =========================================================================== 
 =========================================================================== */

header {
  font-size: 1.5em;
  z-index: 100;
}

.link-container {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  background-color: $alice-blue;

  & > .link {
    flex: 0 1 auto;

    & > a {
      color: $madison;
    }
  }
}

.link {
  line-height: 4.5rem;
  width: 14rem;

  &:hover {
    background-color: $lynch;

    & > .drop {
      display: block;
    }

    a {
      color: $cararra;
    }
  }

  a {
    display: block;
  }
}

.drop {
  display: none;
  position: absolute;
  background: $lynch;
}

.drop--down > .drop__link:nth-child(1) {
  border-top: 0.1rem solid #5B6978;
}

.drop__link {
  border-bottom: 0.1rem solid #62707F;
  width: 14rem;
  line-height: 4rem !important;

  &:hover {
    background-color: $madison;
  }
}

.drop--right {
  left: 14rem;
  top: 0;
  border-left: 0.1rem solid $gallery;
}
