/* partials/items
 =========================================================================== 
 =========================================================================== */

.leg-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 138rem;
  margin: 5rem auto 3rem auto;
  border: 1px solid rgb(200,205,210);
  border-radius: 1rem;
  padding: 0.3rem 0;
  text-align: center;
  font-size: 1.5em;
  font-family: $roboto;
  background-color: $alice-blue;

  @media #{$break-xxl} {
    max-width: 103rem;
    padding: 0.7rem 0;
  }

  @media #{$break-xl} {
    max-width: 95rem;
  }

  @media #{$break-l} {
    max-width: 65rem;
  }

  @media #{$break-m} {
    max-width: 58rem;
  }

  @media #{$break-s} {
    border: none;
    border-radius: 0.5rem;
  }

  .leg {
    flex: 0 1 auto;
    width: 32.6%;
    min-height: 22rem;
    margin: 0.5rem 0;
    border: 2px solid rgb(175,180,185);

    @media #{$break-xxl} {
      width: 48.8%;
    }

    @media #{$break-l} {
      width: 96%;
      margin: 0.4rem 0;
    }
  }

  .leg__name {
    display: block;
    width: 100%;
    margin: 1.2rem 0;
    text-align: center;
    color: #F28700;
  }

  .leg__info {
    display: flex;
    justify-content: flex-start;
    width: 86%;
    margin: auto;
    padding-bottom: 2.2rem;

    @media #{$break-s} {
      width: 91%;
    }
  }

  .leg__info__pic {
    flex: 0 1 auto;
    margin-top: 0.8rem;
    margin-right: 3.2rem;
  }

  .leg__info__affix {
    flex: 0 1 auto;
    margin-top: 0.8rem;
    text-align: left;
  }

  .leg__affix--unique {}

  .leg__affix-guarenteed {}
}


.leg {
  background-color: $ebony-clay;
}

.leg__name {
  font-size: 1.4em;
  font-family: $playfair;
  text-decoration: underline;
}

.leg__info__pic {
  min-width: 70px;
  height: 134px;
  border: 2px solid #EC7211;
  border-radius: 9px;
  background-color: $madison;
}

.pic-sm {
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  width: 64px;
  height: 64px;
  text-align: center;
}

.leg__affix {
  padding-bottom: 1.2rem;
  line-height: 2rem;

  .unique {
    /*
     * override .lightbox.scss
     * .leg__affix {li {line-height: 2rem;}}
     */
    line-height: normal !important;
  }

  li {
    color: rgb(245,245,255);
    text-indent: -1em;

    p {
      color: #7D7DFF;
    }

    span {
      color: #C89DFF;
    }
  }
}