/* partials/items
 =========================================================================== 
 =========================================================================== */

.legendary-container {
  flex: 0 1 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 138rem;
  margin: 4rem auto;
  padding: 2rem 0;
  text-align: center;
  font-size: 1.5em;
  font-family: $roboto;
  border: 2px solid rgb(200,205,210);
  border-radius: 1rem;
  background-color: $hoki;

  @media #{$break-xxl} {
    max-width: 103rem;
  }

  @media #{$break-xl} {
    max-width: 95rem;
  }

  @media #{$break-l} {
    max-width: 65rem;
  }

  @media #{$break-m} {
    max-width: 58rem;
  }

  @media #{$break-s} {
    border: none;
    border-radius: 0.5rem;
  }
}

.legendary {
  width: 32%;
  height: 30rem;
  margin: 1rem 0;
  flex: 0 1 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  background-color: rgb(218,231,244);

  @media #{$break-xxl} {
    width: 48%;
    height: 28rem;
  }

  @media #{$break-xl} {}

  @media #{$break-l} {
    width: 88%;
    height: 25rem;
    margin: 0.8rem 0;
  }

  @media #{$break-m} {
    width: 93%;
    margin: 0.7rem 0;
  }

  @media #{$break-s} {
    height: 26.5rem;
  }
}

.legendary__pic {
  display: block;
  height: 134px;
  width: 70px;
  background-color: $madison;
  border: 3px solid #EC7211;
  border-radius: 9px;

  @media #{$break-s} {
    border-width: 2px;
  }

  span {
    height: 64px;
    width: 64px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
  }
}

.legendary__details {
  width: 70%;
  padding-left: 1rem;

  li {
    text-indent: -1em;
  }

  span {}
}

.legendary__details__name {
  text-align: center;
  font-size: 110%;
  font-family: $playfair;
}

.legendary__details__unique {
  text-align: left;
}

.legendary__details__guarenteed {
  text-align: left;
}