/* partials/items
 =========================================================================== 
 =========================================================================== */

main {
  width: 94%;
  margin: auto;
  top: 4rem;
  font-size: 1.5em;
  font-family: $roboto;

  @media #{$break-xl} {
    width: 85%;
  }

  @media #{$break-l} {
    width: 95%;
  }

  @media #{$break-m} {
    width: 90%;
  }

  @media #{$break-s} {
    width: 96%;
  }
}

.legendary-container {
  height: 2350px;
  padding: 3rem 0;
  flex: 0 1 auto;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-wrap: wrap;
  text-align: center;
  background-color: $hoki;
  border-radius: 1rem;
  border: 2px solid rgb(200,205,210);

  @media #{$break-xl} {
    height: 3200px;
  }

  @media #{$break-l} {
    height: 3200px;
  }

  @media #{$break-m} {
    height: 6300px;
  }

  @media #{$break-s} {
    height: 6150px;
  }
}


.legendary {
  width: 31%;
  height: 250px;
  flex: 0 1 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  background-color: rgb(218,231,244);

  @media #{$break-xl} {
    width: 47%;
  }

  @media #{$break-l} {
    width: 48%;
  }

  @media #{$break-m} {
    width: 90%;
  }

  @media #{$break-s} {
    width: 94%;
  }
}

.legendary__pic {
  display: block;
  height: 134px;
  width: 70px;
  background-color: $madison;
  border: 3px solid #EC7211;
  // border-width: 3px;
  border-radius: 9px;

  @media #{$break-s} {
    border-width: 2px;
  }

  span {
    height: 64px;
    width: 64px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
  }
}

.legendary__details {
  width: 70%;
  padding-left: 1rem;

  li {
    text-indent: -1em;
  }

  span {

  }
}

.legendary__details__name {
  text-align: center;
  font-size: 110%;
  font-family: $playfair;
}

.legendary__details__unique {
  text-align: left;
}

.legendary__details__guarenteed {
  text-align: left;
}