/* partials/lightbox
 =========================================================================== 
 =========================================================================== */

.lb {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  background: rgba($ebony-clay, 0.8);

  &:target {
    display: block;
  }
}

.lb__leg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 46rem;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 2px solid #F0F0F0;
  background-color: $ebony-clay;

  @media #{$break-m} {
    width: 44rem; // 65%
  }

  @media #{$break-s} {
    width: 33rem; // 88%
  }

}

.lb__leg__info {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  padding: 3rem 0 3rem 0;

  @media #{$break-m} {
    width: 75%;
  }

  @media #{$break-s} {
    width: 80%;
  }
}

.lb__leg__info__pic {
  display: block;
  height: 134px;
  min-width: 70px;
  border: 2px solid #EC7211;
  border-radius: 9px;
  background-color: $madison;
  margin-left: 1.8rem;

  @media #{$break-m} {
    margin-left: 0.8rem;
  }

  @media #{$break-s} {
    margin-left: 0.2rem;
  }

  &>img {
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    height: 64px;
    width: 64px;
  }
}

.lb__leg__info__details {
  // top: -0.5rem;
  margin-left: 3rem;
  text-align: left;
  color: #F28700;
  width: 75%;
}

.lb__leg__info__details__name {
  font-size: 1.4em;
  font-weight: 500;
  font-family: $playfair;
}

.lb__leg__info__details__type {
  // line-height: 4.5rem;
  margin: 3rem 0 0 0.7rem;
  font-size: 1.1em;
  font-style: italic;

  @media #{$break-xl} {
    font-size: 1em;
  }

  @media #{$break-m} {
    margin: 2rem 0 0 0.3rem;
  }
}

.lb__leg__affix {
  width: 63%;
  text-align: left;
  margin-left: 17%;

  @media #{$break-s} {
    margin-left: 15%;
    width: 69%;
  }

  & > span {
    color: rgb(250,250,255);
    line-height: 2.5rem;
  }


  li {
    margin-left: 1.7rem;
    text-indent: -1rem;
    line-height: 2rem;
    padding-top: 0.2rem;
    color: rgb(245,245,255);

    p {
    color: #7D7DFF;
    }

    span {
      color: #C89DFF;
    }
  }
}

.lb__leg__affix--primary {}

.lb__leg__affix--secondary {
  padding: 1.2rem 0 3rem 0;
  // margin: 1.2rem 0 2.5rem 0;
}

.lb__leg__note {}