/* partials/lightbox
 =========================================================================== 
 =========================================================================== */

.lb {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.5em;

  &:target {
    display: block;
  }

  .lb__back {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: crosshair;
    background: rgba($madison, 0.9);
  }

  .lb__leg {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 46rem;
    top: 50%;
    left: 50%;
    border: 2px solid #F0F0F0;
    transform: translate(-50%,-50%);
    background-color: $ebony-clay;

    @media #{$break-m} {
      width: 44rem;
    }

    @media #{$break-s} {
      width: 33rem;
    }

    &:nth-last-child(1) {
      padding-bottom: 1.8rem;
    }
  }

  .lb__leg__info {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0 2rem;

    @media #{$break-m} {
      width: 75%;
    }

    @media #{$break-s} {
      width: 80%;
    }
  }

  .lb__leg__info__pic {
    display: block;
    margin-left: 1.8rem;
    min-width: 70px;
    height: 134px;
    border: 2px solid #EC7211;
    border-radius: 9px;
    background-color: $madison;

    @media #{$break-m} {
      margin-left: 0.8rem;
    }

    @media #{$break-s} {
      margin-left: 0.2rem;
    }

    .pic-sm {
      left: 1px;
      //partials/legendaryitems
    }
  }

  .lb__leg__info__details {
    position: relative;
    margin-left: 2.7rem;
    width: 80%;
    text-align: left;
    color: #F28700;
  }

  .lb__leg__info__details__name {
    text-decoration: underline;
    font-size: 1.4em;
    font-family: $playfair;
  }

  .lb__leg__info__details__type {
    margin: 1.5rem 0 0 0.7rem;
    font-size: 1.1em;
    font-style: italic;
    color: #D27500;

    @media #{$break-xl} {
      font-size: 1em;
    }

    @media #{$break-m} {
      margin: 2rem 0 0 0.3rem;
    }
  }

  .lb__leg__affix {
    width: 63%;
    margin-left: 17%;
    padding-bottom: 1.2rem;
    text-align: left;
    line-height: 2rem;

    @media #{$break-s} {
      width: 69%;
      margin-left: 15%;
    }

    & > span {
      line-height: 2.5rem;
      color: rgb(250,250,255);
    }

    li {
      margin-left: 1.7rem;
      padding-top: 0.2rem;
      text-indent: -1em;
      color: rgb(245,245,255);
    }

    p {
      color: #7D7DFF;

      span {
        display: inline-block;
        text-indent: 0;
        color: #C89DFF;
      }
    }

    .unique {
      line-height: normal;

      .silver {
        color: $iron;
      }

      p {
        // color: #EC7211;
        color: #D27500;
      }
    }
  }

  .lb__leg__affix--primary {}

  .lb__leg__affix--secondary {}

  .lb__leg__note {}
}