/* partials/nav
============================================================================ 
============================================================================ */
.nav-main {
  z-index: 100;
  font-size: 2em;
}

.link-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  border-top: 0;
  text-align: center;
  background-color: rgba($ebony-clay, 0.8);
}

.link {
  width: 15rem;
  line-height: 4rem;
  font-family: $playfair;

  &:hover {
    background-color: rgba(44, 65, 84, 1);
    
    & > .drop {
      display: block;
    }

    & > a {
      color: rgb(255, 121, 31);
    }
  }

  a {
    display: block;
    color: $cararra;
  }
}

.link--legendaries {

    & > span {
      display: block;
      color: $cararra;
    }

    &:hover > span {
      color: rgb(255, 121, 31);
    }
}

.link--misc {
  display: none;
}

.drop {
  display: none;
  position: absolute;
  background: rgb(56, 77, 97);
}

.drop--down {
  font-size: 0.85em;
}

.drop__link {
  width: 15rem;
  border-bottom: 0.1rem solid rgb(98, 112, 127);
  line-height: 2rem;
  font-family: $roboto;

  &:hover {
    background-color: $madison;
  }

  &:last-child {
    border-bottom: 0;
  }

  & > a {
    padding: 1.1rem 0;
  }
}

.drop--right {
  top: 0;
  left: 15rem;
  border-right: 0.1rem solid rgb(84, 96, 109);
  border-left: 0.1rem solid rgb(84, 96, 109);
}

.splitter {
  background: rgb(160, 160, 160);
}

.drop__link--legendaries:hover > .splitter {
  height: 1px;
}

@media #{$break-m} {

  .link--gems, .link--potions, .link--materials {
    display: none;
  }

  .link--sets {
    left: 1.8rem;
  }

  .link--misc {
    display: list-item;

    & > span {
      display: block;
      color: $cararra;
    }

    &:hover > span {
      color: rgb(255, 121, 31);
    }
  }

  .drop__link--materials:hover > .splitter {
    height: 1px;
  }
}

@media #{$break-s} {

  .nav-main {
    font-size: 1.7em;
  }

  .link {
    width: 12rem;

    .drop--down {
      font-size: 1em;
    }

    .drop__link {
      width: 12rem;
    }

    .drop--right {
      left: 12rem;
    }
  }

  .link--sets {
    left: 1.4rem;
  }
}