/* partials/playground-grid-lb
 =========================================================================== 
 =========================================================================== */

.temp-lb {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba($madison, 0.9);
  z-index: 99999;
}

.temp-leg:target > .temp-lb {
  display: block;
}

.temp-leg:target {
}