{% extends 'base.html' %}
{% load  staticfiles %}


{% block title %}
{{ itemset.name }}
{% endblock title %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/itemsets_single.min.css' %}">
{% endblock css %}


{% block content %}

<main>
<div class="set">

  <div class="set__info">

    <div class="set__info__name">
      <span>{{ itemset.name }}</span>
    </div> <!-- .set__info__name -->

    <div class="set__info__effect-container">

      {% for effect in itemset.effects.all %}
      <div class="set__info__effect">
        <span class="set__info__effect__need">(<strong>{{ effect.pieces }}</strong>) Piece Bonus:</span>
        <span class="set__info__effect__desc">{{ effect.effect|safe }}</span>
      </div> <!-- .set__info__effect -->
      {% endfor %}

    </div> <!-- .set__info__effect-container -->

  </div> <!-- .set__info -->

  <div class="set__piece-container">

    {% for piece in itemset.pieces.all %}
    <div class="set__piece">

      <div class="set__pic">
        <span style="background: url({% static piece.pic %})"></span>
      </div> <!-- .set__pic -->

      <div class="set__piece__info">

        <div class="set__piece__info__name">
          <span>{{ piece.name }}</span>
        </div> <!-- .set__piece__info__name -->

        <div class="set__piece__info__category">
          <span>{{ piece.category }}</span>
        </div> <!-- .set__piece__info__category -->

      </div> <!-- .set__piece__info -->

    </div> <!-- .set__piece -->
    {% endfor %}

  </div> <!-- .set__piece-container -->

</div> <!-- .set -->
</main>

{% endblock content %}