{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
Sets
{% endblock title %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/itemsets_all.min.css' %}">
{% endblock css %}


{% block header %}

<header>
  <div class="overview">
    <h1>Item Sets</h1>
    <h3>Patch 2.4</h3>
  </div> <!-- .overview -->

  <div class="toggle-container">
    <span style="background: url({% static 'media/portraits/42/all.png' %})" class="toggle toggle--all toggle--selected"></span>
    <span style="background: url({% static 'media/portraits/42/barb.png' %})" class="toggle toggle--barbarian"></span>
    <span style="background: url({% static 'media/portraits/42/sader.png' %})" class="toggle toggle--crusader"></span>
    <span style="background: url({% static 'media/portraits/42/dh.png' %})" class="toggle toggle--demon-hunter"></span>
    <span style="background: url({% static 'media/portraits/42/monk.png' %})" class="toggle toggle--monk"></span>
    <span style="background: url({% static 'media/portraits/42/wd.png' %})" class="toggle toggle--witch-doctor"></span>
    <span style="background: url({% static 'media/portraits/42/wiz.png' %})" class="toggle toggle--wizard"></span>
  </div> <!-- .toggle-container -->
  <div class="patch"><span>Show Changed/Added in Patch 2.4</span></div>
</header>

{% endblock header %}


{% block content %}

<main>
<div class="set-container">

  {% for itemset in itemsets %}
  <div class="set {{ itemset.owner_slug }} {{ itemset.patch }}">

    <div class="set__name">
      <span><a href="{% url 'single-set' itemset.owner_slug itemset.name_slug %}">{{ itemset.name }}</a></span>
    </div> <!-- .set__name -->

    <div class="set__pic-container">
      <a href="{% url 'single-set' itemset.owner_slug itemset.name_slug %}" class="set__pic" style="background: url({%static itemset.set_piece %})"></a>
    </div> <!-- .set__pic-container -->

    <div class="set__piece-container">

      {% for piece in itemset.pieces.all %}
      <div class="set__piece"><a href="{% url 'single-set' itemset.owner_slug itemset.name_slug %}">{{ piece }}</a></div>
      {% endfor %}

    </div> <!-- .set__piece-container -->

    <div class="set__effect-container">

      {% for effect in itemset.effects.all %}
      <div class="set__effect">
        <span class="set__effect__need">(<strong>{{ effect.pieces }}</strong>) Piece Bonus:</span>
        <span class="set__effect__desc">{{ effect.effect|safe }}</span>
      </div> <!-- .set__effect -->
      {% endfor %}

    </div> <!-- .set__effect-container -->

  </div> <!-- .set -->
  {% endfor %}

  <div class="filler"></div>
  <div class="filler"></div>

</div> <!-- .set-container -->
</main>

{% endblock content %}


{% block js %}
<script src="{% static 'js/itemsets_all.js' %}"></script>
{% endblock js %}