/* partials/items/items_materials
============================================================================ 
============================================================================ */
.item--N {

  .item__name-container {

    &:after {
      background: linear-gradient(to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(230, 230, 230, 1) 50%,
      rgba(0, 0, 0, 0) 100%);
    }
  }

  .item__name {
    color: rgb(230, 230, 230);
  }

  .item__info__pic {
    border-color: rgb(200, 200, 200);

    &:hover {
      border-color: rgb(230, 230, 230);
    }
  }

  .unique {
    span {
      color: rgb(255, 255, 255);
    }
  }
}

.item--M {

  .item__name-container {

    &:after {
      background: linear-gradient(to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(125, 125, 255, 1) 50%,
      rgba(0, 0, 0, 0) 100%);
    }
  }

  .item__name {
    color: rgb(125, 125, 255);
  }

  .item__info__pic {
    border-color: rgb(95, 95, 190);

    &:hover {
      border-color: rgb(125, 125, 255);
    }
  }

  .unique {
    span {
      color: rgb(125, 125, 255);
    }
  }
}

.item--R {

  .item__name-container {

    &:after {
      background: linear-gradient(to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 220, 0, 1) 50%,
      rgba(0, 0, 0, 0) 100%);
    }
  }

  .item__name {
    color: rgb(255, 220, 0);
  }

  .item__info__pic {
    border-color: rgb(210, 185, 0);

    &:hover {
      border-color: rgb(235, 210, 0);
    }
  }

  .unique {
    span {
      color: rgb(255, 220, 0);
    }
  }
}

.item--L {

  .unique {

    span {
      color: rgb(210, 120, 0);
    }
  }
}

.item__info__affix {

  .unique {

    p {
      color: rgb(225, 225, 225);
    }
  }
}