/* partials/items/items_legendaries
============================================================================ 
============================================================================ */
.item__info__affix {

  .unique {

    p {
      color: #D27500;
    }

    .silver {
      color: $iron;
    }
  }

  li {

    p {
      color: #7D7DFF;
    }

    span {
      color: #C89DFF;
    }
  }
}