/* partials/items/base_items
============================================================================ 
============================================================================ */
.item-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  //Set width to prevent really large container
  max-width: 138rem;
  margin: 2rem auto 3rem auto;
  padding: 0.3rem 0;
  text-align: center;
  font-size: 1.5em;
  font-family: $roboto;

  @media #{$break-xxl} {
    max-width: 96%;
  }

  @media #{$break-xl} {
    max-width: 95rem;
  }

  @media #{$break-l} {
    max-width: 73rem;
  }

  @media #{$break-m} {
    max-width: 58rem;
  }

  @media #{$break-s} {
    border: none;
    border-radius: 0.5rem;
  }
}

.item {
  flex: 0 1 auto;
  width: 32.6%;
  margin: 0.5rem 0;
  border: 2px solid rgb(175,180,185);
  background-color: $ebony-clay;

  @media #{$break-xl} {
    width: 48.8%;
  }

  @media #{$break-m} {
    width: 92%;
  }

  @media #{$break-s} {
    width: 96%;
  }
}

.item__name-container {
  margin: 0.8rem 0 1.5rem;
  padding: 0 1.5rem;

  &:after {
    content: "";
    display: block;
    height: 1px;
    margin: 5px 0 2px;
    background: linear-gradient(to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(215, 100, 15, 1) 50%,
      rgba(0, 0, 0, 0) 100%);
  }
}

.item__name {
  display: inline-block;
  text-align: center;
  line-height: 2.5rem;
  font-size: 1.4em;
  font-family: $playfair;
  color: $legendary;

  &:hover {
    font-weight: $bold;
    color: rgb(221, 99, 17);
  }
}

.item__info {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: auto;
  padding: 0 3rem 1.5rem 2rem;
}

.item__info__pic {
  flex: 0 1 auto;
  min-width: 70px;
  height: 132px;
  margin-right: 2rem;
  border: 2px solid;
  border-color: $legendary;
  border-radius: 9px;
  background-color: $madison;

  &:hover {
    border-color: rgb(250, 120, 8);
    background-color: rgb(46, 65, 83);
  }
}

.pic {
  display: inline-block;
  width: 64px;
  height: 128px;
  text-align: center;
}

.item__info__affix-container {
  flex-grow: 1;
  text-align: left;
  list-style: circle;
}

.item__info__affix {
  .unique {
    padding-bottom: 1.2rem;

    p {
      line-height: 1.6rem;
      color: rgb(210, 120, 0);
    }

    .silver {
      color: $iron;
    }
  }

  li {
    padding-bottom: 0.4rem;
    color: rgb(181, 181, 181);

    p {
      line-height: 1.5rem;
      color: rgb(125, 125, 255);
    }

    span {
      display: inline-block;
      text-indent: 0;
      color: rgb(200, 157, 255);
    }
  }
}

//Filler blocks to keep items in columns
.filler {
  @extend .item;
  visibility: hidden;
}