/* partials/single/single_potion
============================================================================ 
============================================================================ */

.item__affix {

  p {
    color: #7D7DFF;

    span {
      color: #C89DFF;
    }
  }

  .unique {

    .silver {
      color: $iron;
    }

    p {
      color: #D27500;
    }
  }
}