/* partials/single/single_material
============================================================================ 
============================================================================ */
.item--N {

  .item__name {
    color: rgb(230, 230, 230);

    &:after {
      background: linear-gradient(to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(230, 230, 230, 1) 50%,
      rgba(0, 0, 0, 0) 100%);
    }
  }

  .item__info__pic {
    border-color: rgb(200, 200, 200);
  }

  .unique {
    span {
      color: rgb(255, 255, 255);
    }
  }
}

.item--M {

  .item__name {
    color: rgb(125, 125, 255);

    &:after {
      background: linear-gradient(to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(125, 125, 255, 1) 50%,
      rgba(0, 0, 0, 0) 100%);
    }
  }

  .item__info__pic {
    border-color: rgb(95, 95, 190);
  }

  .unique {
    span {
      color: rgb(125, 125, 255);
    }
  }
}

.item--R {

  .item__name {
    color: rgb(255, 220, 0);

    &:after {
      background: linear-gradient(to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 220, 0, 1) 50%,
      rgba(0, 0, 0, 0) 100%);
    }
  }

  .item__info__pic {
    border-color: rgb(210, 185, 0);
  }

  .unique {
    span {
      color: rgb(255, 220, 0);
    }
  }
}

.item--L {

  .unique {

    span {
      color: rgb(210, 120, 0);
    }
  }
}

.item__affix {

  .unique {

    p {
      color: rgb(225, 225, 225);
    }
  }
}